$esds-code-snippet-border-radius: $esds-border-radius-default !default;
$esds-code-snippet-font-size: $esds-font-size-m !default;
$esds-code-snippet-max-height: 300px !default;
$esds-code-snippet-notification-box-shadow-color: rgba(0, 0, 0, .8);

.esds-code-snippet {
    background: $esds-background-color-default;
    border: $esds-border-default;
    border-radius: $esds-code-snippet-border-radius;
    color: $esds-text-color-default;
    font-family: $esds-font-family-sans-serif;
    font-size: $esds-code-snippet-font-size;
    font-style: normal;
    font-weight: normal;
    line-height: $esds-font-line-height-normal;

    // Prism overrides
    .token {
        &.property,
        .tag {
            color: $esds-color-orange;
        }

        &.selector,
        .attr-name {
            color: $esds-color-blue;
        }

        .attr-value {
            color: $esds-color-orange-light;
        }

        .punctuation {
            color: $esds-color-neutral-20;
        }
    }
}

.esds-code-snippet__source {
    border-radius: 0 0 $esds-code-snippet-border-radius $esds-code-snippet-border-radius;
    overflow: hidden;
}

.esds-code-snippet__header {
    align-items: center;
    border-bottom: $esds-border-default;
    display: flex;
    padding: $esds-space-inset-s;
}

.esds-code-snippet__copy-code-wrap {
    margin-left: auto;
    position: relative;
}

.esds-code-snippet__copied-notification {
    background: $esds-background-color-default;
    border-radius: $esds-code-snippet-border-radius;
    bottom: calc(100% + 8px);
    box-shadow: 0 2px 3px $esds-code-snippet-notification-box-shadow-color;
    opacity: 0;
    padding: $esds-space-inset-s;
    position: absolute;
    right: 0;
    // transition: opacity .4s, visibility .4s;
    // visibility: hidden;
    white-space: nowrap;

    &:after {
        background: $esds-background-color-default;
        box-shadow: 2px 2px 2px $esds-code-snippet-notification-box-shadow-color;
        content: '';
        height: 10px;
        left: 50%;
        margin-left: -5px;
        position: absolute;
        top: calc(100% - 6px);
        transform: rotate(45deg);
        width: 10px;
    }

    .esds-code-snippet--show-copied-notification & {
        animation: fade-in-out 3s;
        // opacity: 1;
        // transition: opacity .4s, visibility .4s;
        // visibility: visible;
    }
}

.esds-code-snippet__pre[class*='language-'] {
    background-color: $esds-color-neutral-95;
    border-radius: $esds-code-snippet-border-radius;
    margin: 0;
    max-height: $esds-code-snippet-max-height;
    overflow: auto;
}


@keyframes fade-in-out {
    0% {
        bottom: calc(100% + 4px);
        opacity: 0;
    }

    10% {
        bottom: calc(100% + 8px);
        opacity: 1;
    }

    90% {
        bottom: calc(100% + 8px);
        opacity: 1;
    }

    100% {
        bottom: calc(100% + 4px);
        opacity: 0;
    }
}
