{% macro code_snippet(
        source='Set source= to view source here', 
        sources=[],
        language='markup', 
        show_copy_button=true, 
        class=false, 
        beautify=false, 
        preformatted=false,
        reference_link_text="Reference Link", 
        reference_link_href=false,
        copy_code_text="Copy Code",
        filename=false) %}
        {% set button_component_import_path = button_component_import_path | default('./button/button.njk') %}
        {% from button_component_import_path import button with context %}

    {% set code_snippet_id = "esds-doc-code-snippet--" + range(0, 100000) | random %}
    {% if language == 'njk' %}
        {% set language = 'twig' %}
    {% endif %}

    {% if language != 'css' and language != 'scss' and language != 'markup' and language != 'html'  %}
        {% set preformatted = true %}
    {% endif %}

    <div class="esds-doc-code-snippet{{ ' ' + class if class }}">
        
        {# Upcoming feature - support multiple tabs with different source examples #}
        {% if sources.length > 0 %}
            <div class="esds-doc-code-snippet__tabs">
                {% for source in sources %}
                    <a href="#{{ code_snippet_id }}--{{ source.language }}" class="esds-doc-code-snippet__tab">{{ source.language }}</a>
                {% endfor %}
            </div>
        {% endif %}

        <div class="esds-doc-code-snippet__sources-wrap">
            {# Upcoming feature - support multiple tabs with different source examples #}
            {% if sources.length > 0 %}
                {% for source in sources %}
                    {{ render_code_snippet_source(source=source.source, language=source.language, filename=source.filename, code_snippet_id=code_snippet_id) }}
                {% endfor %}
            {% else %}
                {{ render_code_snippet_source(source=source, language=language, filename=filename, code_snippet_id=code_snippet_id) }}
            {% endif %}
            {% if show_copy_button %}
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Copied to clipboard
                    </div>
                    {{ button(text=copy_code_text) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_code_snippet_source(source, language='markup', filename, code_snippet_id) %}
    <div class="esds-doc-code-snippet__source" id="{{ code_snippet_id }}--{{ language }}">
        {% if filename %}
            <span class="esds-doc-code-snippet__filename">{{ filename }}</span>
        {% endif %}
        <pre class="esds-doc-code-snippet__pre"><code class="language-{{ language }}">
            {%- if preformatted -%}
                {{- source | stripindent | trim -}}
            {%- elseif language == 'js' -%}
                {{- source | trim | jsbeautify -}}
            {%- elseif language == 'css' or language == 'scss' -%}
                {{- source | trim | cssbeautify -}}
            {%- else -%}
                {{- source | stripindent | htmlbeautify -}}
            {%- endif -%}
        </code></pre>
    </div>
{% endmacro %}
