.#{$theme}-icon,
.#{$theme}-icon--l {
    height: $theme-size-icon-l;
    width: $theme-size-icon-l;
}

.#{$theme}-icon--m {
    height: $theme-size-icon-m;
    width: $theme-size-icon-m;
}

.#{$theme}-icon--s {
    height: $theme-size-icon-s;
    width: $theme-size-icon-s;
}

.#{$theme}-icon--xs {
    height: $theme-size-icon-xs;
    width: $theme-size-icon-xs;
}
