$theme-tooltip-border-radius: 2px;
$tail-size: 8px;

$theme-tooltip-width-s: 80px;
$theme-tooltip-width-m: 106px;
$theme-tooltip-width-l: 200px;
$theme-tooltip-width-xl: 360px;

$theme-tooltip-height-s: 30px;
$theme-tooltip-height-m: 45px;
$theme-tooltip-height-l: 50px;
$theme-tooltip-height-xl: 76px;

$theme-tooltip-drop-shadow: $theme-drop-shadow-default;
$theme-tooltip-padding: 4px 8px;
$theme-tooltip-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
$theme-tooltip-z-index: $theme-z-index-top-of-the-world;

$theme-prompt-closable-padding-right: 45px;
$theme-prompt-close-button-border-left: $theme-border-separator-default;
$theme-prompt-close-button-padding: 8px 3px 5px 6px;
$theme-prompt-close-button-right: 5px;
$theme-prompt-close-button-top: 5px;
$theme-prompt-close-button-anchor-fill: $theme-color-white;
$theme-prompt-close-button-anchor-hover-opacity: .6;
$theme-prompt-font-size: $theme-font-size-s;
$theme-prompt-font-weight: $theme-font-weight-thin;

// Function to help with flip flopping directions for tail generation --------
@function opposite-direction($directions) {
    $opposite-directions: ();
    $direction-map: (
        'top':    'bottom',
        'right':  'left',
        'bottom': 'top',
        'left':   'right'
    );

    @each $direction in $directions {
        $direction: to-lower-case($direction);

        @if map-has-key($direction-map, $direction) { 
            $opposite-directions: append($opposite-directions, unquote(map-get($direction-map, $direction)));
        } 
    }

    @return $opposite-directions;
}

// Generates and positions the 12 tail options --------
@mixin tail($direction, $tail-color, $tail-size, $corner, $is-border, $border-width) {
    border-#{opposite-direction($direction)}: ($tail-size) solid $tail-color;
    content: '';
    height: 0;
    position: absolute;
    width: 0;

    $perpendicular-borders: $tail-size solid transparent;
    
    @if $direction == top {
        bottom: 100%;
        @if not $is-border {
            margin-bottom: -($border-width);
        }
    } @else if $direction == right {
        left: 100%;
        @if not $is-border {
            margin-left: -($border-width);
        }
    } @else if $direction == bottom {
        top: 100%;
        @if not $is-border {
            margin-top: -($border-width);
        }
    } @else if $direction == left {
        right: 100%;
        @if not $is-border {
            margin-right: -($border-width);
        }
    }

    @if $direction == top or $direction == bottom {
        @if $corner == null {
            border-left:   $perpendicular-borders;
            border-right:  $perpendicular-borders;
            left: 50%;
            margin-left: -($tail-size);
        } @else if $corner == corner-left {
            border-left:   0;
            border-right:  $perpendicular-borders;
            @if $is-border {
                left: -($border-width);
            } @else {
                left: 0;
            }
        } @else if $corner == corner-right {
            border-left:   $perpendicular-borders;
            border-right:  0;
            @if $is-border {
                right: -($border-width);
            } @else {
                right: 0;
            }
        }
    } @else if $direction == right or $direction == left {
        @if $corner == null {
            border-bottom: $perpendicular-borders;
            border-top:    $perpendicular-borders;
            margin-top: -($tail-size);
            top: 50%;
        } @else if $corner == corner-top {
            border-bottom: $perpendicular-borders;
            border-top:    0;
            @if $is-border {
                top: -($border-width);
            } @else {
                top: 0;
            }
        }  @else if $corner == corner-bottom {
            border-bottom: 0;
            border-top:    $perpendicular-borders;
            @if $is-border {
                bottom: -($border-width);
            } @else {
                bottom: 0;
            }
        }
    }
}

// Generates complete bubble, uses tail mixin for arrow and optional border --------
@mixin bubble($direction, $corner: null, $has-border: false, $top-tail-color: tooltip, $border-tail-color: $theme-color-neutral-80, $border-width: 1px) {
    @if $top-tail-color == tooltip--default {
        $top-tail-color: $theme-color-neutral-90;
    } @else if $top-tail-color == tooltip--flag {
        $top-tail-color: $theme-color-green-34;
    } @else if $top-tail-color == tooltip--prompt {
        $top-tail-color: $theme-color-neutral-37;
    } @else if $top-tail-color == tooltip--error {
        $top-tail-color: $theme-color-red-50;
    }

    &:after {
        @include tail($direction, $top-tail-color, $tail-size, $corner, false, $border-width); 
    }

    @if $has-border {
        border: $border-width solid $border-tail-color;

        &:before {
            @include tail($direction, $border-tail-color, $tail-size + $border-width, $corner, true, $border-width);
        }
    }
}

// Positions the complete bubble at the correct spot on the target --------
@mixin bubble-positioner($side, $corner) {
    @if $side == top {
        bottom: 100%;
        margin-bottom: $tail-size;
        @if $corner == center {
            left: 50%;
        }
    } @else if $side == bottom {
        margin-top: $tail-size;
        top: 100%;
        @if $corner == center {
            left: 50%;
        }
    } @else if $side == right {
        left: 100%;
        margin-left: $tail-size;
        @if $corner == center {
            top: 50%;
        }
    } @else if $side == left {
        margin-right: $tail-size;
        right: 100%;
        @if $corner == center {
            top: 50%;
        }
    }

    @if $corner == left {
        right: 50%;
    } @else if $corner == right {
        left: 50%;
    } @else if $corner == bottom {
        top: 50%;
    } @else if $corner == top {
        bottom: 50%;
    }
}

// Generate classes for bubble styles(prompt, flag, error) and positioning --------
$tip-types: tooltip--default tooltip--flag tooltip--prompt tooltip--error;
$with-border: false;
@each $current-type in $tip-types {
    $i: index($tip-types, $current-type);
    @if $current-type == tooltip--default {
        $with-border: true;

        .#{$theme}-#{$current-type} {
            background-color: $theme-color-neutral-90;
            color: $theme-color-neutral-20;
        }
    } @else if $current-type == tooltip--flag {
        $with-border: false;

        .#{$theme}-#{$current-type} {
            background-color: $theme-color-green-34;
            color: $theme-color-white;
        }
    } @else if $current-type == tooltip--prompt {
        $with-border: false;

        .#{$theme}-#{$current-type} {
            background-color: $theme-color-neutral-37;
            color: $theme-color-white;
        }
    } @else if $current-type == tooltip--error {
        $with-border: false;

        .#{$theme}-#{$current-type} {
            background-color: $theme-color-red-50;
            color: $theme-color-white;
        }
    }

    .#{$theme}-#{$current-type}.#{$theme}-tooltip--top-center {
        @include bubble(bottom, null, $with-border, #{$current-type});
        @include bubble-positioner(top, center);
    }

    .#{$theme}-#{$current-type}.#{$theme}-tooltip--right-center {
        @include bubble(left, null, $with-border, #{$current-type});
        @include bubble-positioner(right, center);
    }

    .#{$theme}-#{$current-type}.#{$theme}-tooltip--bottom-center {
        @include bubble(top, null, $with-border, #{$current-type});
        @include bubble-positioner(bottom, center);

    }

    .#{$theme}-#{$current-type}.#{$theme}-tooltip--left-center {
        @include bubble(right, null, $with-border, #{$current-type});
        @include bubble-positioner(left, center);
    }

    .#{$theme}-#{$current-type}.#{$theme}-tooltip--top-right {
        @include bubble(bottom, corner-left, $with-border, #{$current-type});
        @include bubble-positioner(top, right);
    }

    .#{$theme}-#{$current-type}.#{$theme}-tooltip--bottom-right {
        @include bubble(top, corner-left, $with-border, #{$current-type});
        @include bubble-positioner(bottom, right);
    }

    .#{$theme}-#{$current-type}.#{$theme}-tooltip--top-left {
        @include bubble(bottom, corner-right, $with-border, #{$current-type});
        @include bubble-positioner(top, left);
    }

    .#{$theme}-#{$current-type}.#{$theme}-tooltip--bottom-left {
        @include bubble(top, corner-right, $with-border, #{$current-type});
        @include bubble-positioner(bottom, left);
    }

    .#{$theme}-#{$current-type}.#{$theme}-tooltip--right-bottom {
        @include bubble(left, corner-top, $with-border, #{$current-type});
        @include bubble-positioner(right, bottom);
    }

    .#{$theme}-#{$current-type}.#{$theme}-tooltip--left-bottom {
        @include bubble(right, corner-top, $with-border, #{$current-type});
        @include bubble-positioner(left, bottom);
    }

    .#{$theme}-#{$current-type}.#{$theme}-tooltip--right-top {
        @include bubble(left, corner-bottom, $with-border, #{$current-type});
        @include bubble-positioner(right, top);
    }

    .#{$theme}-#{$current-type}.#{$theme}-tooltip--left-top {
        @include bubble(right, corner-bottom, $with-border, #{$current-type});
        @include bubble-positioner(left, top);
    }

}

// Basic classes for styling and layout --------
.#{$theme}-tooltip {
    @include border-box();
    border-radius: $theme-tooltip-border-radius;
    box-shadow: $theme-tooltip-drop-shadow;
    display: block;
    font-family: $theme-font-family-sans-serif;
    font-size: $theme-font-size-m;
    opacity: 0;
    padding: $theme-tooltip-padding;
    position: absolute;
    text-align: left;
    text-decoration: none;
    transition: $theme-tooltip-transition;
    visibility: hidden;
    z-index: $theme-tooltip-z-index;
}

.#{$theme}-tooltip--sticky,
.#{$theme}-tooltip__wrapper:hover .#{$theme}-tooltip {
    opacity: 1;
    visibility: visible;
}

.#{$theme}-tooltip--width-s {
    width: $theme-tooltip-width-s;
}

.#{$theme}-tooltip--width-m {
    width: $theme-tooltip-width-m;
}

.#{$theme}-tooltip--width-l {
    width: $theme-tooltip-width-l;
}

.#{$theme}-tooltip--width-xl {
    width: $theme-tooltip-width-xl;
}

.#{$theme}-tooltip--height-s {
    height: $theme-tooltip-height-s;
}

.#{$theme}-tooltip--height-m {
    height: $theme-tooltip-height-m;
}

.#{$theme}-tooltip--height-l {
    height: $theme-tooltip-height-l;
}

.#{$theme}-tooltip__wrapper {
    display: inline-block;
    position: relative;
}

.#{$theme}-tooltip--closable {
    padding-right: $theme-prompt-closable-padding-right;
}

.#{$theme}-tooltip__close-button {
    border-left: $theme-prompt-close-button-border-left;
    cursor: pointer;
    display: inline-block;
    fill: $theme-prompt-close-button-anchor-fill;
    padding: $theme-prompt-close-button-padding;
    position: absolute;
    right: $theme-prompt-close-button-right;
    top: $theme-prompt-close-button-top;

    &:hover {
        .#{$theme}-icon {
            opacity: $theme-prompt-close-button-anchor-hover-opacity;
        }
    }

}

.#{$theme}-tooltip__target--help {
    cursor: help;
}

.#{$theme}-tooltip--prompt,
.#{$theme}-tooltip--error {
    font-size: $theme-prompt-font-size;
    font-weight: $theme-prompt-font-weight;
}

// Handle offsets for centering a tooltip horizontally or vertically
// on it's target. 
.#{$theme}-tooltip--top-center.#{$theme}-tooltip--width-s,
.#{$theme}-tooltip--bottom-center.#{$theme}-tooltip--width-s {
    margin-left: -($theme-tooltip-width-s / 2);
}

.#{$theme}-tooltip--top-center.#{$theme}-tooltip--width-m,
.#{$theme}-tooltip--bottom-center.#{$theme}-tooltip--width-m {
    margin-left: -($theme-tooltip-width-m / 2);
}

.#{$theme}-tooltip--top-center.#{$theme}-tooltip--width-l,
.#{$theme}-tooltip--bottom-center.#{$theme}-tooltip--width-l {
    margin-left: -($theme-tooltip-width-l / 2);
}

.#{$theme}-tooltip--bottom-center.#{$theme}-tooltip--width-xl,
.#{$theme}-tooltip--top-center.#{$theme}-tooltip--width-xl {
    margin-left: -($theme-tooltip-width-xl / 2);
}

.#{$theme}-tooltip--left-center.#{$theme}-tooltip--height-s,
.#{$theme}-tooltip--right-center.#{$theme}-tooltip--height-s {
    margin-top: -($theme-tooltip-height-s / 2);
}

.#{$theme}-tooltip--left-center.#{$theme}-tooltip--height-m,
.#{$theme}-tooltip--right-center.#{$theme}-tooltip--height-m {
    margin-top: -($theme-tooltip-height-m / 2);
}

.#{$theme}-tooltip--left-center.#{$theme}-tooltip--height-l,
.#{$theme}-tooltip--right-center.#{$theme}-tooltip--height-l {
    margin-top: -($theme-tooltip-height-l / 2);
}

.#{$theme}-tooltip--left-center.#{$theme}-tooltip--height-xl,
.#{$theme}-tooltip--right-center.#{$theme}-tooltip--height-xl {
    margin-top: -($theme-tooltip-height-xl / 2);
}
