$mds-tooltip-border-radius: 2px;
$tail-size: 8px;

$mds-tooltip-width-s: 80px;
$mds-tooltip-width-m: 106px;
$mds-tooltip-width-l: 200px;
$mds-tooltip-width-xl: 360px;

$mds-tooltip-height-s: 30px;
$mds-tooltip-height-m: 45px;
$mds-tooltip-height-l: 50px;
$mds-tooltip-height-xl: 76px;

$mds-tooltip-drop-shadow: $mds-drop-shadow-default;
$mds-tooltip-padding: 4px 8px;
$mds-tooltip-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
$mds-tooltip-z-index: $mds-z-index-top-of-the-world;

$mds-prompt-closable-padding-right: 45px;
$mds-prompt-close-button-border-left: $mds-border-separator-default;
$mds-prompt-close-button-padding: 8px 3px 5px 6px;
$mds-prompt-close-button-right: 5px;
$mds-prompt-close-button-top: 5px;
$mds-prompt-close-button-anchor-fill: $mds-color-white;
$mds-prompt-close-button-anchor-hover-opacity: .6;
$mds-prompt-font-size: $mds-font-size-s;
$mds-prompt-font-weight: $mds-font-weight-thin;

// Generate classes for bubble styles(prompt, flag, error) and positioning --------
$tip-types: tooltip--default tooltip--flag tooltip--prompt tooltip--error;
$with-border: false;
@each $current-type in $tip-types {
    $i: index($tip-types, $current-type);
    @if $current-type == tooltip--default {
        $with-border: true;

        .mds-#{$current-type} {
            background-color: $mds-color-neutral-90;
            color: $mds-color-neutral-20;
        }
    } @else if $current-type == tooltip--flag {
        $with-border: false;

        .mds-#{$current-type} {
            background-color: $mds-color-green-34;
            color: $mds-color-white;
        }
    } @else if $current-type == tooltip--prompt {
        $with-border: false;

        .mds-#{$current-type} {
            background-color: $mds-color-neutral-37;
            color: $mds-color-white;
        }
    } @else if $current-type == tooltip--error {
        $with-border: false;

        .mds-#{$current-type} {
            background-color: $mds-color-red-50;
            color: $mds-color-white;
        }
    }

    .mds-#{$current-type}.mds-tooltip--top-center {
        @extend %top-center;
        @include bubble(bottom, null, $with-border, #{$current-type});
    }

    .mds-#{$current-type}.mds-tooltip--top-right {
        @extend %top-right;
        @include bubble(bottom, corner-left, $with-border, #{$current-type});
    }

    .mds-#{$current-type}.mds-tooltip--top-left {
        @extend %top-left;
        @include bubble(bottom, corner-right, $with-border, #{$current-type});
    }

    .mds-#{$current-type}.mds-tooltip--bottom-center {
        @extend %bottom-center;
        @include bubble(top, null, $with-border, #{$current-type});
    }

    .mds-#{$current-type}.mds-tooltip--bottom-right {
        @extend %bottom-right;
        @include bubble(top, corner-left, $with-border, #{$current-type});
    }

    .mds-#{$current-type}.mds-tooltip--bottom-left {
        @extend %bottom-left;
        @include bubble(top, corner-right, $with-border, #{$current-type});
    }

    .mds-#{$current-type}.mds-tooltip--right-center {
        @extend %right-center;
        @include bubble(left, null, $with-border, #{$current-type});
    }

    .mds-#{$current-type}.mds-tooltip--right-top {
        @extend %right-top;
        @include bubble(left, corner-bottom, $with-border, #{$current-type});
    }

    .mds-#{$current-type}.mds-tooltip--right-bottom {
        @extend %right-bottom;
        @include bubble(left, corner-top, $with-border, #{$current-type});
    }

    .mds-#{$current-type}.mds-tooltip--left-center {
        @extend %left-center;
        @include bubble(right, null, $with-border, #{$current-type});
    }

    .mds-#{$current-type}.mds-tooltip--left-top {
        @extend %left-top;
        @include bubble(right, corner-bottom, $with-border, #{$current-type});
    }

    .mds-#{$current-type}.mds-tooltip--left-bottom {
        @extend %left-bottom;
        @include bubble(right, corner-top, $with-border, #{$current-type});
    }
}

// Basic classes for styling and layout --------
.mds-tooltip {
    @include border-box();
    border-radius: $mds-tooltip-border-radius;
    box-shadow: $mds-tooltip-drop-shadow;
    display: block;
    font-family: $mds-font-family-sans-serif;
    font-size: $mds-font-size-m;
    opacity: 0;
    padding: $mds-tooltip-padding;
    position: absolute;
    text-align: left;
    text-decoration: none;
    transition: $mds-tooltip-transition;
    visibility: hidden;
    z-index: $mds-tooltip-z-index;
}

.mds-tooltip--sticky,
.mds-tooltip__wrapper:hover .mds-tooltip,
.mds-tooltip__target:focus + .mds-tooltip {
    opacity: 1;
    visibility: visible;
}

.mds-tooltip--width-s {
    width: $mds-tooltip-width-s;
}

.mds-tooltip--width-m {
    width: $mds-tooltip-width-m;
}

.mds-tooltip--width-l {
    width: $mds-tooltip-width-l;
}

.mds-tooltip--width-xl {
    width: $mds-tooltip-width-xl;
}

.mds-tooltip--height-s {
    height: $mds-tooltip-height-s;
}

.mds-tooltip--height-m {
    height: $mds-tooltip-height-m;
}

.mds-tooltip--height-l {
    height: $mds-tooltip-height-l;
}

.mds-tooltip__wrapper {
    display: inline-block;
    position: relative;
}

.mds-tooltip--closable {
    padding-right: $mds-prompt-closable-padding-right;
}

.mds-tooltip__close-button {
    border-left: $mds-prompt-close-button-border-left;
    cursor: pointer;
    display: inline-block;
    fill: $mds-prompt-close-button-anchor-fill;
    padding: $mds-prompt-close-button-padding;
    position: absolute;
    right: $mds-prompt-close-button-right;
    top: $mds-prompt-close-button-top;

    &:hover {
        .mds-icon {
            opacity: $mds-prompt-close-button-anchor-hover-opacity;
        }
    }

}

.mds-tooltip__target--help {
    cursor: help;
}

.mds-tooltip--prompt,
.mds-tooltip--error {
    font-size: $mds-prompt-font-size;
    font-weight: $mds-prompt-font-weight;
}

// Handle offsets for centering a tooltip horizontally or vertically
// on it's target. 
.mds-tooltip--top-center.mds-tooltip--width-s,
.mds-tooltip--bottom-center.mds-tooltip--width-s {
    margin-left: -($mds-tooltip-width-s / 2);
}

.mds-tooltip--top-center.mds-tooltip--width-m,
.mds-tooltip--bottom-center.mds-tooltip--width-m {
    margin-left: -($mds-tooltip-width-m / 2);
}

.mds-tooltip--top-center.mds-tooltip--width-l,
.mds-tooltip--bottom-center.mds-tooltip--width-l {
    margin-left: -($mds-tooltip-width-l / 2);
}

.mds-tooltip--bottom-center.mds-tooltip--width-xl,
.mds-tooltip--top-center.mds-tooltip--width-xl {
    margin-left: -($mds-tooltip-width-xl / 2);
}

.mds-tooltip--left-center.mds-tooltip--height-s,
.mds-tooltip--right-center.mds-tooltip--height-s {
    margin-top: -($mds-tooltip-height-s / 2);
}

.mds-tooltip--left-center.mds-tooltip--height-m,
.mds-tooltip--right-center.mds-tooltip--height-m {
    margin-top: -($mds-tooltip-height-m / 2);
}

.mds-tooltip--left-center.mds-tooltip--height-l,
.mds-tooltip--right-center.mds-tooltip--height-l {
    margin-top: -($mds-tooltip-height-l / 2);
}

.mds-tooltip--left-center.mds-tooltip--height-xl,
.mds-tooltip--right-center.mds-tooltip--height-xl {
    margin-top: -($mds-tooltip-height-xl / 2);
}
