$theme-border-data-table-cell-on-dark: 1px solid $theme-color-neutral-20;
$theme-border-data-table-cell-on-light: 1px solid $theme-color-neutral-80;
$theme-border-color-data-table-header-cell-inner-selected-on-dark: $theme-color-white;
$theme-border-color-data-table-header-cell-inner-selected-on-light: $theme-color-neutral-12;
$theme-border-arrow-data-table-header-cell-inner-selected-offset: 4px;
$theme-border-arrow-data-table-header-cell-inner-selected-offset-margin: -4px;

$theme-space-data-table-bottom: 20px;
$theme-space-data-table-cell-default: 6px;
$theme-space-data-table-cell-s: 2px;
$theme-space-data-table-cell-l: 10px;
$theme-space-data-table-cell-indent-default: 25px;
$theme-space-data-table-cell-indent-l: 40px;

$theme-text-color-data-table-header-cell-inner-selected-on-light: $theme-color-neutral-12;
$theme-text-color-data-table-header-cell-inner-selected-on-dark: $theme-color-white;
$theme-text-color-data-table-header-cell-inner-on-light: $theme-color-neutral-37;
$theme-text-color-data-table-header-cell-inner-on-dark: $theme-color-neutral-67;

@mixin theme-data-table-selected-arrow($sort, $bg) {
    @if $sort == 'ascending' {
        border-width: 0 4px 8px;
        bottom: -1px;
        @if $bg == 'light' {
            border-bottom-color: $theme-border-color-data-table-header-cell-inner-selected-on-light;
        } @else if $bg == 'dark' {
            border-bottom-color: $theme-border-color-data-table-header-cell-inner-selected-on-dark;
        }
    } @else if $sort == 'descending' {
        border-width: 8px 4px 0;
        bottom: -8px;
        @if $bg == 'light' {
            border-top-color: $theme-border-color-data-table-header-cell-inner-selected-on-light;
        } @else if $bg == 'dark' {
            border-top-color: $theme-border-color-data-table-header-cell-inner-selected-on-dark;
        }
    }
}

.#{$theme}-data-table {
    @include border-box();
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    color: $theme-text-color-primary-on-light;
    display: table;
    font-family: $theme-font-family-sans-serif;
    font-weight: $theme-font-weight-light;
    margin-bottom: $theme-space-data-table-bottom;
    max-width: 100%;
    width: 100%;
}

.#{$theme}-data-table__cell {
    border-top: $theme-border-data-table-cell-on-light;
    padding: $theme-space-data-table-cell-default;
    text-align: left;
    vertical-align: middle;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    .#{$theme}-data-table__body .#{$theme}-data-table__row:first-child & {
        border-top: 0;
    }

    .#{$theme}-data-table--striped & {
        &:first-child {
            padding-left: $theme-space-data-table-cell-default;
        }

        &:last-child {
            padding-right: $theme-space-data-table-cell-default;
        }
    }

    .#{$theme}-data-table--condensed .#{$theme}-data-table__body & {
        padding-bottom: $theme-space-data-table-cell-s;
        padding-top: $theme-space-data-table-cell-s;
    }

    .#{$theme}-data-table--expanded .#{$theme}-data-table__body & {
        padding-bottom: $theme-space-data-table-cell-l;
        padding-top: $theme-space-data-table-cell-l;
    }

    .#{$theme}-container--dark &,
    .#{$theme}-container--black & {
        border-top: $theme-border-data-table-cell-on-dark;
        color: $theme-text-color-primary-on-dark;
    }
}

.#{$theme}-data-table__header-cell {
    border-top: 0;
    font-size: $theme-font-size-s;
    font-weight: $theme-font-weight-regular;
    padding: 0 $theme-space-data-table-cell-default;
    text-align: left;
    vertical-align: top;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    .#{$theme}-container--dark &,
    .#{$theme}-container--black & {
        border-top: 0;
    }
}

.#{$theme}-data-table__header-cell-inner {
    border-bottom: 1px solid transparent;
    color: $theme-text-color-data-table-header-cell-inner-on-light;
    margin-bottom: 10px;
    padding-bottom: $theme-space-data-table-cell-default;
    position: relative;

    .#{$theme}-container--dark &,
    .#{$theme}-container--black & {
        color: $theme-text-color-data-table-header-cell-inner-on-dark;
    }
}

.#{$theme}-data-table__header-cell-inner--selected-ascending,
.#{$theme}-data-table__header-cell-inner--selected-descending {
    border-bottom: 1px solid transparent;
    border-bottom-color: $theme-border-color-data-table-header-cell-inner-selected-on-light;
    color: $theme-text-color-data-table-header-cell-inner-selected-on-light;

    &:after {
        border: solid transparent;
        border-color: transparent;
        content: ' ';
        height: 0;
        left: $theme-border-arrow-data-table-header-cell-inner-selected-offset;
        margin-left: $theme-border-arrow-data-table-header-cell-inner-selected-offset-margin;
        pointer-events: none;
        position: absolute;
        width: 0;

        .#{$theme}-data-table__header-cell--right & {
            left: auto;
            margin-left: 0;
            margin-right: $theme-border-arrow-data-table-header-cell-inner-selected-offset-margin;
            right: $theme-border-arrow-data-table-header-cell-inner-selected-offset;
        }
    }

    .#{$theme}-container--dark &,
    .#{$theme}-container--black & {
        border-bottom-color: $theme-border-color-data-table-header-cell-inner-selected-on-dark;
        color: $theme-text-color-data-table-header-cell-inner-selected-on-dark;
    }
}

.#{$theme}-data-table__header-cell-inner--selected-ascending {
    &:after {
        @include theme-data-table-selected-arrow('ascending', 'light');
    }

    .#{$theme}-container--dark &,
    .#{$theme}-container--black & {
        &:after {
            @include theme-data-table-selected-arrow('ascending', 'dark');
        }
    }
}

.#{$theme}-data-table__header-cell-inner--selected-descending {
    &:after {
        @include theme-data-table-selected-arrow('descending', 'light');
    }

    .#{$theme}-container--dark &,
    .#{$theme}-container--black & {
        &:after {
            @include theme-data-table-selected-arrow('descending', 'dark');
        }
    }
}

.#{$theme}-data-table__header-cell--right,
.#{$theme}-data-table__cell--right {
    text-align: right;
}

.#{$theme}-data-table__cell--child {
    padding-left: $theme-space-data-table-cell-indent-default;

    &:first-child {
        padding-left: $theme-space-data-table-cell-indent-default;
    }
}

.#{$theme}-data-table__cell--sub-child {
    padding-left: $theme-space-data-table-cell-indent-l;

    &:first-child {
        padding-left: $theme-space-data-table-cell-indent-l;
    }
}

.#{$theme}-data-table__row:nth-of-type(odd) {
    .#{$theme}-container--dark .#{$theme}-data-table--striped .#{$theme}-data-table__body & {
        background-color: $theme-background-color-alternative-row-on-dark;
    }

    .#{$theme}-data-table--striped .#{$theme}-data-table__body & {
        background-color: $theme-background-color-alternative-row-on-light;
    }
}
