$theme-doc-space-stack-code-snippet: 0 0 24px;
$theme-doc-font-size-code-snippet: 13px;
$theme-doc-size-caret-width: 4px;
$theme-color-transparent-caret-border: rgba($theme-background-color-dark, 0);

.#{$theme}-doc-code-snippet {
    border: $theme-border-separator-default;
    border-radius: $theme-border-radius-default;
    margin: $theme-doc-space-stack-code-snippet;
}

.#{$theme}-doc-code-snippet__actions {
    align-items: center;
    background: $theme-color-neutral-90;
    display: flex;
    justify-content: flex-end;
    padding: $theme-space-inset-m;
}

// Prism overrides
pre.#{$theme}-doc-code-snippet__pre {
    background: $theme-background-color-light;
    font-size: $theme-doc-font-size-code-snippet;
    margin: 0;
    padding: $theme-space-inset-m;
}

.#{$theme}-doc-code-snippet__copied-response {
    background: $theme-background-color-dark;
    border-radius: $theme-border-radius-default;
    bottom: calc(100% + #{$theme-space-s});
    color: $theme-text-color-primary-on-dark;
    font-size: $theme-font-size-s;
    left: 0;
    opacity: 0;
    padding: $theme-space-inset-xs;
    position: absolute;
    text-align: center;
    width: 100%;

    &:after {
        background: transparent;
        border-color: $theme-background-color-dark $theme-color-transparent-caret-border $theme-color-transparent-caret-border;
        border-style: solid;
        border-width: $theme-doc-size-caret-width;
        content: '';
        left: 50%;
        margin-left: -($theme-doc-size-caret-width / 2);
        position: absolute;
        top: 99%;
    }

    .#{$theme}-doc-code-snippet__copy--clicked & {
        animation: fade-in-out 3s;
    }
}

.#{$theme}-doc-code-snippet__copy {
    position: relative;
}

.#{$theme}-doc-code-snippet__source {
    border-radius: 0 0 $theme-border-radius-default $theme-border-radius-default;
    max-height: 400px;
    overflow-y: auto;
}


@keyframes fade-in-out {
    0% {
        bottom: 90%;
        opacity: 0;
    }

    10% {
        bottom: calc(100% + #{$theme-space-s});
        opacity: 1;
    }

    90% {
        bottom: calc(100% + #{$theme-space-s});
        opacity: 1;
    }

    100% {
        bottom: 90%;
        opacity: 0;
    }
}
