{% macro code_snippet(
        source='', 
        language='markup', 
        show_copy_button=true, 
        class=false, 
        beautify=false, 
        preformatted=false,
        reference_link_text="Reference Link", 
        reference_link_href=false,
        icon_path=false) %}
    {% set id = range(0, 100000) | random %}

    <div class="{{ theme }}-doc-code-snippet{{ ' ' + class if class }}">
        {% if show_copy_button %}
            <div class="{{ theme }}-doc-code-snippet__actions">
                <a href="#" class="{{ theme }}-button {{ theme }}-doc-code-snippet__copy" data-clipboard-target="#{{ theme }}-doc-code-snippet--{{ id }}">
                    {% set button_icon_class = theme + '-doc-code-snippet__copy-icon ' + theme + '-button__icon ' + theme + '-button__icon--left' %}
                    {{ library.icon(name='pop-out', class=button_icon_class, path=icon_path) }}
                    <span class="{{ theme }}-doc-code-snippet__copy-text">Copy to Clipboard</span>
                    <span class="{{ theme }}-doc-code-snippet__copied-response">Press Ctrl + C to copy</span>
                </a>
            </div>
        {% endif %}
        <div id="{{ theme }}-doc-code-snippet--{{ id }}" class="{{ theme }}-doc-code-snippet__source">
            <pre class="{{ theme }}-doc-code-snippet__pre"><code class="language-{{ language }}">
                {%- if language == 'css' or language == 'scss' -%}
                    {{- source | trim | cssbeautify -}}
                {%- else -%}
                    {{- source | stripindent | htmlbeautify -}}
                {%- endif -%}
            </code></pre>
        </div>
    </div>
{% endmacro %}
