.mds-long-form-text {
    color: $mds-text-color-primary-default;
    font-family: $mds-font-family-sans-serif;

    h1 {
        @include level-1-heading();
        margin: $mds-space-stack-l;
    }

    h2 {
        @include level-2-heading();
        border-top: solid 4px $mds-border-separator-color-on-light;
        margin: $mds-space-stack-xl;
        margin-top: $mds-space-xl;
        padding-top: $mds-space-m;
    }

    h3 {
        @include level-3-heading();
        margin: $mds-space-stack-l;
    }

    h4 {
        @include level-4-heading();
        margin: $mds-space-stack-m;
    }

    ul, 
    ol {
        font-weight: $mds-font-weight-light;
        margin: $mds-space-stack-xl;
        padding: 0 0 0 $mds-space-l;
    }

    li {
        // @include mds-text-crop();
        margin: $mds-space-stack-m;

        > ul {
            margin-top: $mds-space-m;
        }
    }

    p {
        @include mds-text-crop();
        font-weight: $mds-font-weight-light;
        margin: $mds-space-stack-xl;
    }

    .mds-long-form-text__lead {
        font-size: $mds-font-size-l;
        margin: $mds-space-stack-m;
    }

    a {
        color: $mds-text-color-link-default;
        text-decoration: underline;

        &:hover {
            color: $mds-interactive-color-primary-hover;
        }
    }

    code {
        font-family: $mds-font-family-monospace;
        font-size: $mds-font-size-s;
        word-break: break-word; 
    }
}
