{% extends 'doc_templates/default.doc.template.njk' %}
{% set title = 'Buttons' %}

{% block doc_body %}
    <h1>Buttons</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum reprehenderit, id perspiciatis commodi deserunt eius quia maiores quidem sunt, laboriosam quis modi error unde iste nam numquam illo. Nesciunt, voluptatem?
    </p>

    {{ library.button(text="Nathan hates the default text") }}
    {{ library.button(text="I'm another button") }}

    {% set buttonMarkup %}
        {{ library.button() }}
        <br>
        {{ library.button() }}
    {% endset %}

    {{ doc_library.example_code_pair(examples=[{
        source: '{{ library.button() }}'
    }])}}

    {{ doc_library.code_snippet(source=buttonMarkup) }}
{% endblock %}
