{% extends 'doc_templates/default.doc.template.njk' %}

{% block doc_body %}
    <h1>Buttons</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum reprehenderit, id perspiciatis commodi deserunt eius quia maiores quidem sunt, laboriosam quis modi error unde iste nam numquam illo. Nesciunt, voluptatem?
    </p>

    {{ mds.button() }}
    {{ mds.button(text="I'm another button") }}
{% endblock %}
