$mds-color-switch-group-label: $mds-text-color-primary-on-light;
$mds-color-switch-group-label-on-dark: $mds-color-neutral-95;

$mds-color-switch-label: $mds-color-neutral-50;
$mds-color-switch-label-on-dark: $mds-text-color-secondary-on-dark;
$mds-color-switch-label-hover: $mds-text-color-primary-on-light;
$mds-color-switch-label-hover-on-dark: $mds-color-neutral-90;

$mds-transition-hover: color 300ms, border-color 300ms;
$mds-transition-click: border-color 300ms, margin-left 300ms, background 300ms;
$mds-border-radius-switch: 15px;

$mds-switch-width: 26px;
$mds-switch-height: 16px;
$mds-switch-toggle-width: 12px;
$mds-switch-toggle-height: 12px;

$mds-box-shadow-switch-element-focus: 0 0 4px 2px rgba($mds-interactive-color-primary-default, .8);
$mds-size-switch-focus-gap: 3px;

$mds-space-stack-switch-field-group: 0 0 16px 0;
$mds-space-stack-switch-label: 0 0 8px 0;
$mds-space-stack-switch-input: 0 0 8px 0;
$mds-space-grid-switch: 0 8px 8px 0;

.mds-switch,
.mds-switch__group,
.mds-switch__field-group {
    @include border-box();
}

.mds-switch {

    .mds-switch__field-group--horizontal & {
        display: inline-flex;
        margin: $mds-space-grid-switch;
    }
}

.mds-switch__label {
    color: $mds-color-switch-label;
    cursor: pointer;
    font-family: $mds-font-family-sans-serif;
    font-size: $mds-font-size-default;
    font-weight: $mds-font-weight-light;

    .mds-container--dark &, 
    .mds-container--black & {
        color: $mds-color-switch-label-on-dark;
    }

}

.mds-switch__text {
    border: solid $mds-size-switch-focus-gap transparent;
    cursor: pointer;
    display: inline-block;
    padding-left: 35px;
    position: relative;
    transition: $mds-transition-hover;

    // Border
    &:before {
        border: $mds-border-control-default;
        border-radius: $mds-border-radius-switch;
        content: '';
        display: block;
        height: $mds-switch-height;
        left: 0;
        position: absolute;
        top: 2px;
        transition: $mds-transition-click;
        width: $mds-switch-width;

        .mds-switch__label:hover & {
            border-color: $mds-interactive-color-primary-hover;
        }

        .mds-switch__label:active & {
            border-color: $mds-interactive-color-primary-active;
        }

    }

    // Dot
    &:after {
        border: $mds-border-control-default;
        border-radius: 50%;
        content: '';
        display: block;
        height: $mds-switch-toggle-height;
        left: 0;
        margin-left: 2px;
        position: absolute;
        top: 4px;
        transition: $mds-transition-click;
        width: $mds-switch-toggle-width;

        .mds-switch__label:hover & {
            border-color: $mds-interactive-color-primary-hover;
        }

        .mds-switch__label:active & {
            border-color: $mds-interactive-color-primary-active;
        }

    }

    .mds-switch__label:hover & {
        color: $mds-color-switch-label-hover;

        .mds-container--dark &, 
        .mds-container--black & {
            color: $mds-color-switch-label-hover-on-dark;
        }
    }
    

}

.mds-switch__input {
    // hide checkbox
    @include mds-accessibly-hidden();

    // Focus/active state
    &:focus ~ .mds-switch__text,
    .mds-switch--focus & ~ .mds-switch__text {
        box-shadow: $mds-box-shadow-switch-element-focus;
        outline: none;
    }

    // Checked state
    &:checked ~ .mds-switch__text {
        color: $mds-color-switch-label-hover;

        .mds-container--dark &, 
        .mds-container--black & {
            color: $mds-color-switch-label-hover-on-dark;
        }

        &:before,
        &:after {
            border-color: $mds-interactive-color-primary-default;

            .mds-switch__label:hover & {
                border-color: $mds-interactive-color-primary-hover;
            }

            .mds-switch__label:active & {
                border-color: $mds-interactive-color-primary-active;
            }

        }

        &:after {
            background: $mds-interactive-color-primary-default;
            margin-left: 12px;

            .mds-switch__label:hover & {
                background: $mds-interactive-color-primary-hover;
            }

            .mds-switch__label:active & {
                background: $mds-interactive-color-primary-active;
            }

        }
    }

    // Disabled
    &:disabled ~ .mds-switch__text,
    &[disabled] ~ .mds-switch__text,
    .mds-switch--disabled & ~ .mds-switch__text  {
        @include disabled();
        opacity: $mds-opacity-disabled;

        &:before,
        &:after {
            border: $mds-border-disabled;
        }
        
    }

}



// Stacked Switches
.mds-switch__group {
    border: 0;
    margin: 0;
    padding: 0;

    .mds-switch {
        margin: $mds-space-stack-switch-input;
    }
}

.mds-switch__group-label {
    @include mds-text-crop();
    color: $mds-color-switch-group-label;
    display: block;
    font-family: $mds-font-family-sans-serif;
    font-size: $mds-font-size-default;
    font-weight: $mds-font-weight-light;
    margin: $mds-space-stack-switch-label;
    padding: 0;

    .mds-container--dark &, 
    .mds-container--black & {
        color: $mds-color-switch-group-label-on-dark;
    }
}

// Horizontal Switches
.mds-switch__field-group--horizontal {
    align-items: flex-start;
    display: flex;
}
