$theme-doc-color-success: $theme-color-green-34;
$theme-doc-color-error: $theme-color-red-50;
$theme-doc-border-image: solid 1px #e5e5e5;

.#{$theme}-doc-do-dont {
    margin: $theme-space-stack-xl;
    
    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.#{$theme}-doc-do-dont__image-wrap {
    margin: $theme-space-stack-m;
    padding: 0;

    @media screen and (min-width: 480px) {
        flex: 1 1 40%;
        margin-right: $theme-space-l;
        max-width: 50%;

        &:nth-child(even) {
            margin-right: 0;
        }
    }
}

.#{$theme}-doc-do-dont__image {
    border: $theme-doc-border-image;
    display: block;
    max-width: 100%;
}

.#{$theme}-doc-do-dont__caption {
    @include theme-text-crop();
    border-top: solid 4px $theme-border-separator-color-on-light;
    font-family: $theme-font-family-sans-serif;
    font-size: $theme-font-size-s;
    padding: $theme-space-inset-s;
    padding-left: 0;
    padding-right: 0;

    .#{$theme}-doc-do-dont__image-wrap--dont & {
        border-color: $theme-doc-color-error;
    }

    .#{$theme}-doc-do-dont__image-wrap--do & {
        border-color: $theme-doc-color-success;
    }
}

.#{$theme}-doc-do-dont__type {
    .#{$theme}-doc-do-dont__image-wrap--dont & {
        color: $theme-doc-color-error;
    }

    .#{$theme}-doc-do-dont__image-wrap--do & {
        color: $theme-doc-color-success;
    }
}
