.mds-pagination {
    @include border-box();
    font-size: 0;
    font-weight: $mds-font-weight-regular;
    height: 25px;
    list-style: none;
    margin: $mds-space-stack-m;
    padding: 0;
    white-space: nowrap;
}

.mds-pagination__item {
    border: $mds-border-control-default;
    border-left: 0;
    border-right: 0;
    color: $mds-text-color-primary-default;
    display: inline-block;
    font-family: $mds-font-family-sans-serif;
    font-size: $mds-font-size-s;
    margin: 0;
    padding: 0;
    position: relative;

    &:first-child {
        border: $mds-border-control-default;
        border-radius: 12px 0 0 12px;
        border-right: 0;
        padding-left: 14px;

        a {
            padding-left: 0;
        }
    }

    &:last-child {
        border: $mds-border-control-default;
        border-left: 0;
        border-radius: 0 12px 12px 0;
        padding-right: 14px;

        a {
            padding-right: 0;
        }
    }

    &.mds-pagination__item--active {
        font-weight: $mds-font-weight-bold;
        padding: 2px 5px;

        .mds-container--dark &,
        .mds-container--black & {
            color: $mds-text-color-primary-on-dark;
        }
    }

    &.mds-pagination__item--disabled {
        @include disabled-text($mds-text-color-secondary-default);
        cursor: not-allowed;
        padding: 2px 5px;

        .mds-container--dark &,
        .mds-container--black & {
            @include disabled-text($mds-text-color-secondary-on-dark);
        }
    }
}

.mds-pagination__link {
    background: transparent;
    color: $mds-text-color-secondary-default;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 2px 5px;
    position: relative;
    text-decoration: none;

    &:hover {
        color: $mds-interactive-color-primary-hover;

        .mds-pagination__icon {
            fill: $mds-interactive-color-primary-hover;
        }
    }

    &:focus {
        box-shadow: $mds-interactive-color-focus;
        outline: 0;
    }

    .mds-container--dark &,
    .mds-container--black & {
        color: $mds-text-color-secondary-on-dark;

        &:hover {
            color: $mds-interactive-color-primary-hover;
        }
    }
}

.mds-pagination__icon {
    fill: $mds-text-color-secondary-default;
    height: $mds-size-icon-xs;
    position: relative;
    top: 2px;
    width: $mds-size-icon-xs;

    .mds-container--black &,
    .mds-container--dark & {
        fill: $mds-text-color-secondary-on-dark;
    }

    .mds-pagination__item--disabled & {
        fill-opacity: $mds-opacity-disabled;
    }
}
