.#{$theme}-pagination {
    font-size: 0;
    font-weight: $theme-font-weight-regular;
    height: 25px;
    list-style: none;
    margin: $theme-space-stack-m;
    padding: 0;
    white-space: nowrap;
}

.#{$theme}-pagination__item {
    border: $theme-border-control-default;
    border-left: 0;
    border-right: 0;
    color: $theme-text-color-primary-default;
    display: inline-block;
    font-family: $theme-font-family-sans-serif;
    font-size: $theme-font-size-s;
    margin: 0;
    padding: 0;
    position: relative;

    &:first-child {
        border: $theme-border-control-default;
        border-radius: 12px 0 0 12px;
        border-right: 0;
        padding-left: 14px;

        a {
            padding-left: 0;
        }
    }

    &:last-child {
        border: $theme-border-control-default;
        border-left: 0;
        border-radius: 0 12px 12px 0;
        padding-right: 14px;

        a {
            padding-right: 0;
        }
    }

    &.#{$theme}-pagination__item--active {
        font-weight: $theme-font-weight-bold;
        padding: 2px 5px;

        .#{$theme}-container--dark &,
        .#{$theme}-container--black & {
            color: $theme-text-color-primary-on-dark;
        }
    }

    &.#{$theme}-pagination__item--disabled {
        color: $theme-interactive-color-disabled;
        cursor: not-allowed;
        padding: 2px 5px;
    }
}

.#{$theme}-pagination__link {
    background: transparent;
    color: $theme-text-color-secondary-default;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 2px 5px;
    position: relative;
    text-decoration: none;

    &:hover {
        color: $theme-interactive-color-primary-hover;

        .#{$theme}-pagination__icon {
            fill: $theme-interactive-color-primary-hover;
        }
    }

    &:focus {
        box-shadow: $theme-interactive-color-focus;
        outline: 0;
    }

    .#{$theme}-container--dark &,
    .#{$theme}-container--black & {
        color: $theme-text-color-secondary-on-dark;

        &:hover {
            color: $theme-interactive-color-primary-hover;
        }
    }
}

.#{$theme}-pagination__icon {
    fill: $theme-text-color-secondary-default;
    height: $theme-size-icon-xs;
    position: relative;
    top: 2px;
    width: $theme-size-icon-xs;

    .#{$theme}-container--black &,
    .#{$theme}-container--dark & {
        fill: $theme-text-color-secondary-on-dark;
    }

    .#{$theme}-pagination__item--disabled & {
        fill: $theme-interactive-color-disabled;
    }
}
