.mds-pagination {
    font-size: 0;
    height: 25px;
    list-style: none;
    margin: $mds-space-stack-m;
    padding: 0;
}

.mds-pagination__item {
    border: $mds-border-control;
    border-left: 0;
    border-right: 0;
    color: $mds-text-color-primary-default;
    display: inline-block;
    font-family: $mds-font-family-sans-serif;
    font-size: $mds-font-size-s;
    margin: 0;
    padding: 0;

    &:first-child {
        border: $mds-border-control;
        border-radius: 12px 0 0 12px;
        border-right: 0;
        padding-left: 14px;

        a {
            padding-left: 0;
        }
    }

    &:last-child {
        border: $mds-border-control;
        border-left: 0;
        border-radius: 0 12px 12px 0;
        padding-right: 14px;

        a {
            padding-right: 0;
        }
    }
}

.mds-pagination__link {
    background: transparent;
    color: $mds-text-color-secondary-default;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 2px 5px;
    position: relative;
    text-decoration: none;

    &:hover {
        color: $mds-interactive-color-primary-hover;

        .mds-pagination__icon {
            fill: $mds-interactive-color-primary-hover;
        }
    }

    .mds-container--dark &,
    .mds-container--black & {
        color: $mds-text-color-secondary-on-dark;

        &:hover {
            color: $mds-interactive-color-primary-hover;
        }
    }
}

.mds-pagination__item--active {
    font-weight: $mds-font-weight-bold;
    padding: 2px 5px;

    .mds-container--dark &,
    .mds-container--black & {
        color: $mds-text-color-primary-on-dark;
    }
}

.mds-pagination__item--disabled {
    color: $mds-interactive-color-disabled;
    cursor: not-allowed;
    padding: 2px 5px;

    .mds-pagination__icon {
        fill: $mds-interactive-color-disabled;

        .mds-container--dark &,
        .mds-container--black & {
            fill: $mds-text-color-secondary-on-dark;
        }
    }
}

.mds-pagination__icon {
    fill: $mds-text-color-secondary-default;
    height: $mds-size-icon-xs;
    vertical-align: middle;
    width: $mds-size-icon-xs;

    .mds-container--black &,
    .mds-container--dark & {
        fill: $mds-text-color-secondary-on-dark;
    }
}
