{% extends "doc_templates/default.sink.template.njk" %}

{% set title = 'List Group Sink' %}

{% macro component_sink() %}

    <h2 class="mds-doc-sink__header">Small</h2>
    {{ library.list_group(class="mds-list-group--small") }}

    <h2 class="mds-doc-sink__header">Default</h2>
    {{ library.list_group(active_item=2) }}

    <h2 class="mds-doc-sink__header">Large</h2>
    {{ library.list_group(class="mds-list-group--large",active_item=7) }}

{% endmacro %}