{% extends "doc_templates/default.sink.template.njk" %}

{% set title = 'Pagination Sink' %}

{% macro component_sink() %}

    <h2 class="mds-doc-sink__header">With Navigation</h2>
    {{ library.pagination() }}

    <h2 class="mds-doc-sink__header">With Labels</h2>
    {{ library.pagination(include_labels=true) }}

    <h2 class="mds-doc-sink__header">No Navigation</h2>
    {{ library.pagination(pages=6,include_arrows=false) }}

{% endmacro %}

