{% extends "doc_templates/default.sink.template.njk" %}

{% set title = 'Range Sliders Sink' %}

{% block head_assets %}
    <link rel="stylesheet" href="/assets/styles/mds_sink.css">
{% endblock %}

{% macro component_sink(sink_background_color=null) %}
	<h2 class="mds-doc-sink__header">Range Slider</h2>
	{{ library.range_slider(slider_id="slider_" + sink_background_color) }}
	<br>
    <br>
    <br>
    <br>
	<h2 class="mds-doc-sink__header">Range Slider Two Handles</h2>
	{{ library.range_slider(slider_id="slider_two_" + sink_background_color) }}
	<br>
    <br>
    <br>
    <br>
    <h2 class="mds-doc-sink__header">Range Slider Two Handles with Tooltips</h2>
    <br>
    <br>
    <br>
    <br>
    {{ library.range_slider(slider_id="slider_two_tooltips_" + sink_background_color) }}
    <br>
    <br>
    <br>
    <br>
    <h2 class="mds-doc-sink__header">Range Slider with Input</h2>
    {{ library.range_slider(slider_id="slider_input_" + sink_background_color, with_input=true, input_id="slider_number_field_" + sink_background_color) }}
    <br>
    <br>
    <br>
    <br>
    <h2 class="mds-doc-sink__header">Range Slider Two Handles with Inputs</h2>
    {{ library.range_slider(slider_id="slider_two_with_input_" + sink_background_color, with_min_max=true, input_id="slider_two_number_field_min_" + sink_background_color, input_id_max="slider_two_number_field_max_" + sink_background_color) }}
    <br>
    <br>
    <br>
    <br>
    <h2 class="mds-doc-sink__header">Range Slider Two Handles with Inputs Fixed Widths</h2>
    {{ library.range_slider(slider_id="slider_two_with_input_set_widths_" + sink_background_color, with_min_max=true, input_id="slider_two_number_field_min_set_widths_" + sink_background_color, input_id_max="slider_two_number_field_max_set_widths_" + sink_background_color, auto_width=true, set_input_width="45px", set_slider_width="200px") }}
    <br>
    <br>
    <br>
    <br>
    <h2 class="mds-doc-sink__header">Range Slider One Handle Disabled</h2>
    {{ library.range_slider(slider_id="slider_disabled_" + sink_background_color, disabled=true) }}
    <br>
    <br>
    <br>
    <br>
    <h2 class="mds-doc-sink__header">Range Slider Two Handles Disabled</h2>
    {{ library.range_slider(slider_id="slider_two_disabled_" + sink_background_color, disabled=true) }}
    <br>
    <br>
    <br>
    <br>
    <h2 class="mds-doc-sink__header">Range Slider Two Handles with Tooltips Disabled</h2>
    <br>
    <br>
    <br>
    <br>
    {{ library.range_slider(slider_id="slider_two_tooltips_disabled_" + sink_background_color, disabled=true) }}
    <br>
    <br>
    <br>
    <br>
    <h2 class="mds-doc-sink__header">Range Slider Two Handles with Inputs Disabled</h2>
    {{ library.range_slider(slider_id="slider_two_with_input_disabled_" + sink_background_color, with_min_max=true, input_id="slider_two_number_field_min_disabled_" + sink_background_color, input_id_max="slider_two_number_field_max_disabled_" + sink_background_color, disabled=true) }}
    <br>
    <br>
    <br>
    <br>
    <h2 class="mds-doc-sink__header">Range Slider Hidden Two Handles with Inputs</h2>
    {{ library.range_slider(slider_id="slider_hidden_two_with_input_" + sink_background_color, class="mds-range-slider--hidden", with_min_max=true, input_id="slider_hidden_two_number_field_min_" + sink_background_color, input_id_max="slider_hidden_two_number_field_max_" + sink_background_color) }}
    <br>
    <br>
    <br>
    <br>
{% endmacro %}

{% block closing_body_assets %}
    <script src="/assets/dependencies/nouislider.min.js"></script>
    <script>

        var bemClassOverrides = {
            target: '__target',
            base: '__base',
            origin: '__origin',
            handle: '__handle',
            handleLower: '__handle--lowerer',
            handleUpper: '__handle--upper',
            horizontal: '--horizontal',
            vertical: '--vertical',
            background: '__background',
            connect: '__connect',
            ltr: '--ltr',
            rtl: '--rtl',
            draggable: '--draggable',
            drag: '--state-drag',
            tap: '--state-tap',
            active: '--active',
            tooltip: '__tooltip',
            pips: '__pips',
            pipsHorizontal: '__pips--horizontal',
            pipsVertical: '__pips--vertical',
            marker: '__marker',
            markerHorizontal: '__marker--horizontal',
            markerVertical: '__marker--vertical',
            markerNormal: '__marker--normal',
            markerLarge: '__marker--large',
            markerSub: '__marker--sub',
            value: '__value',
            valueHorizontal: '__value--horizontal',
            valueVertical: '__value-vertical',
            valueNormal: '__value-normal',
            valueLarge: '__value-large',
            valueSub: '__value-sub'
        };
        var bgs = ["_white", "_light", "_dark", "_black"];
        var  i;
        for (i = 0; i < bgs.length; i++) {
            var oneSliderBg = document.getElementById('slider' + bgs[i]),
                twoSliderBg = document.getElementById('slider_two' + bgs[i]),
                twoSliderTooltipsBg = document.getElementById('slider_two_tooltips' + bgs[i]),
                oneSliderDisabledBg = document.getElementById('slider_disabled' + bgs[i]),
                twoSliderTooltipsDisabledBg = document.getElementById('slider_two_tooltips_disabled' + bgs[i]),
                twoSliderDisabledBg = document.getElementById('slider_two_disabled' + bgs[i]);


            noUiSlider.create(oneSliderBg, {
                start: 40,
                connect: [true, false],
                cssPrefix: 'mds-range-slider',
                cssClasses: bemClassOverrides,
                range: {
                  'min': 0,
                  'max': 100
                }
            });

            noUiSlider.create(twoSliderBg, {
            start: [20, 80],
                connect: true,
                cssPrefix: 'mds-range-slider',
                cssClasses: bemClassOverrides,
                range: {
                    'min': 0,
                    'max': 100
                }
            });

            noUiSlider.create(twoSliderTooltipsDisabledBg, {
                start: [20, 80],
                connect: true,
                cssPrefix: 'mds-range-slider',
                cssClasses: bemClassOverrides,
                tooltips: [ true, true ],
                step: 1,
                range: {
                    'min': 0,
                    'max': 100
                },
                format: {
                    to: function ( value ) {
                    return value + '';
                    },
                    from: function ( value ) {
                    return value.replace('', '');
                    }
                }
            });

            noUiSlider.create(twoSliderTooltipsBg, {
                start: [20, 80],
                connect: true,
                cssPrefix: 'mds-range-slider',
                cssClasses: bemClassOverrides,
                tooltips: [ true, true ],
                step: 1,
                range: {
                    'min': 0,
                    'max': 100
                },
                format: {
                    to: function ( value ) {
                    return value + '';
                    },
                    from: function ( value ) {
                    return value.replace('', '');
                    }
                }
            });

            noUiSlider.create(oneSliderDisabledBg, {
                start: 40,
                connect: [true, false],
                cssPrefix: 'mds-range-slider',
                cssClasses: bemClassOverrides,
                range: {
                  'min': 0,
                  'max': 100
                }
            });

            noUiSlider.create(twoSliderDisabledBg, {
            start: [20, 80],
                connect: true,
                cssPrefix: 'mds-range-slider',
                cssClasses: bemClassOverrides,
                range: {
                    'min': 0,
                    'max': 100
                }
            });
        }

        // ----------------------------
        // Create slider with one input
        // ----------------------------

        function sliderWInput() {
            for (i = 0; i < bgs.length; i++) {
                var sliderWithInput = document.getElementById('slider_input' + bgs[i]);

                noUiSlider.create(sliderWithInput, {
                    start: [ 20 ],
                    connect: [true, false],
                    cssPrefix: 'mds-range-slider',
                    cssClasses: bemClassOverrides,
                    step: 1,
                    range: {
                        'min': [ 0 ],
                        'max': [ 100 ]
                    },
                    format: {
                      to: function ( value ) {
                        return value + '';
                      },
                      from: function ( value ) {
                        return value.replace('', '');
                      }
                    }
                });
            }
        }
        sliderWInput();

        // ------------------------------
        // Synch slider handle with input
        // ------------------------------

        var sliderGroups = document.querySelectorAll('.mds-range-slider__group');
        for(var i = 0; i < sliderGroups.length; i++) {
            var group = sliderGroups[i];

            group.querySelectorAll('.mds-range-slider')[0].noUiSlider.on('update', function( values, handle ) {
                this.target.parentNode.parentNode.querySelectorAll('.mds-range-slider__input')[0].value = values;
            });

            group.querySelectorAll('.mds-range-slider__input')[0].addEventListener('change', function(){
                this.parentNode.parentNode.querySelectorAll('.mds-range-slider')[0].noUiSlider.set(this.value);
            });
        }
        
        // -----------------------------
        // Create slider with two inputs
        // -----------------------------

        function sliderWTwoInputs() {
            for (i = 0; i < bgs.length; i++) {
                var slider_twoFieldsInput = document.getElementById('slider_two_with_input' + bgs[i]);

                noUiSlider.create(slider_twoFieldsInput, {
                    start: [ 20, 80 ],
                    connect: true,
                    cssPrefix: 'mds-range-slider',
                    cssClasses: bemClassOverrides,
                    step: 1,
                    range: {
                        'min': [ 0 ],
                        'max': [ 100 ]
                    },
                    format: {
                      to: function ( value ) {
                        return value + '';
                      },
                      from: function ( value ) {
                        return value.replace('', '');
                      }
                    }
                });
            }
        }
        sliderWTwoInputs();

        // --------------------------------------
        // Create slider with two inputs disabled
        // --------------------------------------

        function sliderWTwoInputsDisabled() {
            for (i = 0; i < bgs.length; i++) {
                var slider_twoFieldsInputDisabled = document.getElementById('slider_two_with_input_disabled' + bgs[i]);

                noUiSlider.create(slider_twoFieldsInputDisabled, {
                    start: [ 20, 80 ],
                    connect: true,
                    cssPrefix: 'mds-range-slider',
                    cssClasses: bemClassOverrides,
                    step: 1,
                    range: {
                        'min': [ 0 ],
                        'max': [ 100 ]
                    },
                    format: {
                      to: function ( value ) {
                        return value + '';
                      },
                      from: function ( value ) {
                        return value.replace('', '');
                      }
                    }
                });
            }
        }
        sliderWTwoInputsDisabled();

        // ------------------------------------
        // Create slider with two inputs hidden
        // ------------------------------------

        function sliderHiddenWTwoInputs() {
            for (i = 0; i < bgs.length; i++) {
                var sliderHiddenTwoFieldsInput = document.getElementById('slider_hidden_two_with_input' + bgs[i]);

                noUiSlider.create(sliderHiddenTwoFieldsInput, {
                    start: [ 20, 80 ],
                    connect: true,
                    cssPrefix: 'mds-range-slider',
                    cssClasses: bemClassOverrides,
                    step: 1,
                    range: {
                        'min': [ 0 ],
                        'max': [ 100 ]
                    },
                    format: {
                      to: function ( value ) {
                        return value + '';
                      },
                      from: function ( value ) {
                        return value.replace('', '');
                      }
                    }
                });
            }
        }
        sliderHiddenWTwoInputs();

        // ------------------------------------
        // Create slider with two inputs hidden
        // ------------------------------------

        function sliderWTwoInputsSetWidths() {
            for (i = 0; i < bgs.length; i++) {
                var sliderTwoFieldsInputSetWidths = document.getElementById('slider_two_with_input_set_widths' + bgs[i]);

                noUiSlider.create(sliderTwoFieldsInputSetWidths, {
                    start: [ 20, 80 ],
                    connect: true,
                    cssPrefix: 'mds-range-slider',
                    cssClasses: bemClassOverrides,
                    step: 1,
                    range: {
                        'min': [ 0 ],
                        'max': [ 100 ]
                    },
                    format: {
                      to: function ( value ) {
                        return value + '';
                      },
                      from: function ( value ) {
                        return value.replace('', '');
                      }
                    }
                });
            }
        }
        sliderWTwoInputsSetWidths();

        // ------------------------------------------
        // Synch two slider input handles with inputs
        // ------------------------------------------

        var sliderMinMaxGroups = document.querySelectorAll('.mds-range-slider__group--min-max');
        for(var i = 0; i < sliderMinMaxGroups.length; i++) {
            var minMaxGroup = sliderMinMaxGroups[i];

            minMaxGroup.querySelectorAll('.mds-range-slider')[0].noUiSlider.on('update', function( values, handle ) {
                if ( handle ) {
                    this.target.parentNode.parentNode.querySelectorAll('.mds-range-slider__input--max')[0].value = values[handle];
                } else {
                    this.target.parentNode.parentNode.querySelectorAll('.mds-range-slider__input--min')[0].value = values[handle];
                }
            });
    
            minMaxGroup.querySelectorAll('.mds-range-slider__input--max')[0].addEventListener('change', function(){
                this.parentNode.parentNode.querySelectorAll('.mds-range-slider')[0].noUiSlider.set([null, this.value]);
            });

            minMaxGroup.querySelectorAll('.mds-range-slider__input--min')[0].addEventListener('change', function(){
                this.parentNode.parentNode.querySelectorAll('.mds-range-slider')[0].noUiSlider.set([this.value, null]);
            });
        }
    </script>
{% endblock %}