{% extends "doc_templates/default.sink.template.njk" %}

{% set title = 'Switches Sink' %}

{% macro component_sink() %}

    <h2 class="mds-doc-sink__header">Default</h2>
    {{ library.switch() }}

    <h2 class="mds-doc-sink__header">Switch Focus</h2>
    {{ library.switch(class="mds-switch--focus") }}

    <h2 class="mds-doc-sink__header">Disabled</h2>
    {{ library.switch(disabled="true") }}

    <h2 class="mds-doc-sink__header">Switched on</h2>
    {{ library.switch(checked=true) }}

    <h2 class="mds-doc-sink__header">Switch Group Stacked</h2>
    {% call library.switch_group(label="Switch all days that apply") %}
        {{ library.switch(text="Mondays") }}
        {{ library.switch(text="Tuesdays") }}
        {{ library.switch(text="Wednesdays") }}
        {{ library.switch(text="Thursdays") }}
        {{ library.switch(text="Fridays") }}
    {% endcall %}

    <h2 class="mds-doc-sink__header">Switch Group Stacked Too Much Content</h2>
    {% call library.switch_group(label="Switch all days that apply") %}
        {{ library.switch(text="Mondays") }}
        {{ library.switch(text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ut aliquid tenetur sequi pariatur rem expedita similique, rerum, corrupti assumenda alias adipisci distinctio. Harum neque autem a, quisquam in architecto aspernatur iure tenetur, asperiores voluptatibus obcaecati cum magni ipsum repudiandae hic reprehenderit pariatur, assumenda ex excepturi, velit consectetur. Labore, molestias error, cupiditate autem ea hic tenetur quisquam.") }}
        {{ library.switch(text="Wednesdays") }}
        {{ library.switch(text="Thursdays") }}
        {{ library.switch(text="Fridays") }}
    {% endcall %}

    <h2 class="mds-doc-sink__header">Switch Group Horizontal</h2>
    {% call library.switch_field_group(horizontal="true") %}
        {% call library.switch_group(label="Switch all days that apply") %}
            {{ library.switch(text="Red") }}
            {{ library.switch(text="Orange") }}
            {{ library.switch(text="Yellow") }}
        {% endcall %}
    {% endcall %}

    <h2 class="mds-doc-sink__header">Switch Group Horizontal Too Much Content</h2>
    {% call library.switch_field_group(horizontal="true") %}
        {% call library.switch_group(label="Switch all days that apply") %}
            {{ library.switch(text="Red") }}
            {{ library.switch(text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ut aliquid tenetur sequi pariatur rem expedita similique, rerum, corrupti assumenda alias adipisci distinctio. Harum neque autem a, quisquam in architecto aspernatur iure tenetur, asperiores voluptatibus obcaecati cum magni ipsum repudiandae hic reprehenderit pariatur, assumenda ex excepturi, velit consectetur. Labore, molestias error, cupiditate autem ea hic tenetur quisquam.") }}
            {{ library.switch(text="Yellow") }}
            {{ library.switch(text="Orange") }}
        {% endcall %}
    {% endcall %}

    <h2 class="mds-doc-sink__header">Switch Too Little Content</h2>
    {{ library.switch(text="a") }}

    <h2 class="mds-doc-sink__header">Switch Too Much Content</h2>
    {{ library.switch(text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ut aliquid tenetur sequi pariatur rem expedita similique, rerum, corrupti assumenda alias adipisci distinctio. Harum neque autem a, quisquam in architecto aspernatur iure tenetur, asperiores voluptatibus obcaecati cum magni ipsum repudiandae hic reprehenderit pariatur, assumenda ex excepturi, velit consectetur. Labore, molestias error, cupiditate autem ea hic tenetur quisquam.") }}


{% endmacro %}