@import 'mds_constants';
// $project-name variable is temporary until we name the project

// Cross-component utilities
@import 'shared/fonts';
@import 'shared/utils'; // box-sizing and font-size settings
@import 'shared/accessibility'; // utilities for screenreader text, etc.
@import 'shared/animation'; // transitions and keyframe animations
@import 'shared/space'; // mixin to control font whitespace
@import 'shared/typography'; // mixins for supported font families and weights

// Components
@import 'icon/icon';
@import 'container/container';
@import 'button/button';
@import 'list_group/list_group';
@import 'long_form_text/long_form_text';
@import 'notification/notification';
@import 'pagination/pagination';
@import 'range_slider/range_slider';
@import 'data_table/data_table';
@import 'notification/notification';
@import 'tooltip/tooltip';
@import 'switch/switch';

//Composite Components
@import 'segmented_control/segmented_control'; // Has a dependency on button
@import 'form/form'; // Has a dependency on icon


// Global styles used across the library, keep minimal, err on the side of redefining things like font families, font sizes, etc.
html {
    box-sizing: border-box;
    font-size: $mds-font-size-base;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

// Print Styles for all components
@import 'mds_library_print';
