.#{$theme}-doc-html-example-list {
    border: $theme-border-separator-default;
    border-radius: $theme-border-radius-default;
}

.#{$theme}-doc-html-example-list__item {
    border-bottom: $theme-border-separator-default;
    padding: $theme-space-inset-m;
    position: relative;

    &:last-child {
        border-bottom: 0;
    }
}

.#{$theme}-doc-html-example-list__item--xxl-inset-bottom {
    padding-bottom: 100px;
}

.#{$theme}-doc-html-example-list__item--xxl-inset-top {
    padding-top: 100px;
}

.#{$theme}-doc-html-example-list__label {
    @include eyebrow-heading();
    max-width: 280px;
    overflow: hidden;
    position: absolute;
    right: $theme-space-s;
    text-align: right;
    text-overflow: ellipsis;
    top: $theme-space-s;
    white-space: nowrap;
    width: calc(100% - ($theme-space-s * 3));
    z-index: $theme-z-index-low;

    .#{$theme}-container--black &,
    .#{$theme}-container--dark & {
        color: $theme-text-color-secondary-on-dark;
    }
}
