{% macro html_example_list(examples=[], class = false) %}
    <div class="{{ project.name }}-doc-html-example-list{{ ' ' + class if class }}">
        {% for example in examples %}
            <div class="{{ project.name }}-doc-html-example-list__item{{ ' ' + example.container_class if example.container_class }}">
                {% if example.label %}
                    <label class="{{ project.name }}-doc-html-example-list__label">{{ example.label }}</label>
                    {# {{ library.pill(label=example.label, class="{{ project.name }}-doc-html-examples__pill-label") }} #}
                {% endif %}
                <div class="{{ project.name }}-doc-html-example-list__example">
                    {{ example.source | safe }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
