.mds-doc-html-example-list {
    border: $mds-border-separator-default;
    border-radius: $mds-border-radius-default;
}

.mds-doc-html-example-list__item {
    border-bottom: $mds-border-separator-default;
    padding: $mds-space-inset-m;
    position: relative;

    &:last-child {
        border-bottom: 0;
    }
}

.mds-doc-html-example-list__item--xxl-inset-bottom {
    padding-bottom: 100px;
}

.mds-doc-html-example-list__item--xxl-inset-top {
    padding-top: 100px;
}

.mds-doc-html-example-list__label {
    color: $mds-text-color-secondary-default;
    font-family: $mds-font-family-sans-serif;
    font-size: $mds-font-size-xxs;
    font-weight: $mds-font-weight-bold;
    letter-spacing: 1.67px;
    max-width: 280px;
    overflow: hidden;
    position: absolute;
    right: $mds-space-s;
    text-align: right;
    text-overflow: ellipsis;
    text-transform: uppercase;
    top: $mds-space-s;
    white-space: nowrap;
    width: calc(100% - ($mds-space-s * 3));
    z-index: $mds-z-index-low;

    .mds-container--black &,
    .mds-container--dark & {
        color: $mds-text-color-secondary-on-dark;
    }
}
