{% extends "templates/sink.njk" %}
{% block body %}
    <h1 class="esds-doc-sink-page-header">Reference Tables Sink</h1>
    <h1 class="esds-doc-sink-page-header">Default</h1>

    {{ library.tint_stack() }}
{% endblock body %}
