.esds-button {
    background: $esds-color-blue;
    border: 0;
    border-radius: $esds-border-radius-default;
    color: $esds-color-white;
    cursor: pointer;
    font-family: $esds-font-family-sans-serif;
    font-size: $esds-font-size-m;
    padding: 6px 12px;
    text-transform: uppercase;
}
