.es-doc-button {
    background: $es-doc-color-orange;
    border: 0;
    border-radius: $es-doc-border-radius-default;
    color: $es-doc-color-white;
    cursor: pointer;
    font-family: $es-doc-font-family-sans-serif;
    font-size: $es-doc-font-size-m;
    padding: 6px 12px;
    text-transform: uppercase;
}
