// The Sink page styles are solely for use on sink pages, comingling very simple and predictable classes with components in an otherwise conflict-free QA/testing environment.
// Do not use these classes on other pages or apps.

// Use the library's constants
@import 'constants';

.#{$theme}-doc-sink {
    margin: 0;
    padding: 0;
}

.#{$theme}-doc-sink__body {
    margin: 0;
    padding: $theme-space-inset-m;
}

.#{$theme}-doc-sink__header {
    font-family: $theme-font-family-sans-serif;
    font-size: 24px;
    font-weight: $theme-font-weight-light;
    margin-bottom: $theme-space-stack-m;
}

.#{$theme}-doc-sink__wrapping-columns {
    display: flex;
    justify-content: flex-start;
}

.#{$theme}-doc-sink__column {
    padding: $theme-space-inset-l;
}
