.mds-container--default {
    background: $mds-background-color-default; 
}

.mds-container--light {
    background: $mds-background-color-light; 
}

.mds-container--dark {
    background: $mds-background-color-dark; 
}

.mds-container--black {
    background: $mds-background-color-black; 
}
