.#{$theme}-container--default {
    background: $theme-background-color-default;
}

.#{$theme}-container--light {
    background: $theme-background-color-light; 
}

.#{$theme}-container--dark {
    background: $theme-background-color-dark; 
}

.#{$theme}-container--black {
    background: $theme-background-color-black; 
}
