.mds-container--default {
    @include border-box();
    background: $mds-background-color-default;
}

.mds-container--light {
    @include border-box();
    background: $mds-background-color-light; 
}

.mds-container--dark {
    @include border-box();
    background: $mds-background-color-dark; 
}

.mds-container--black {
    @include border-box();
    background: $mds-background-color-black; 
}
