// $project-name variable is temporary until we name the project
.#{$project-name}-button {
    background-color: transparent;
    border: solid 1px $mds-color-neutral-50;
    border-radius: 15px;
    color: $mds-color-neutral-50;
    cursor: pointer;
    font-family: $mds-font-family-sans-serif;
    font-size: 16px;
    padding: 4px 16px;
}
