{% set default_headers = ["class", "applies_to", "outcome"] %}

{% set default_data = [{
                class: ".uds-component-name--modifier",
                applies_to: ".uds-component-name",
                outcome: "Modifies `uds-component-name` to change its background color."
            },
            {
                class: ".uds-component-name--different-modifier",
                applies_to: ".uds-component-name",
                outcome: "Modifies `uds-component-name` to change its background color to a different color."
            }] %}
