// mds v0.0.1 
$mds-project-name: mds;

$mds-color-white: #FFFFFF;
$mds-color-black: #262626;
$mds-color-neutral-10: #010101;
$mds-color-neutral-15: #151515;
$mds-color-neutral-20: #282828;
$mds-color-neutral-25: #3B3B3B;
$mds-color-neutral-32: #303030;
$mds-color-neutral-38: #444444;
$mds-color-neutral-42: #484848;
$mds-color-neutral-50: #666666;
$mds-color-neutral-55: #999999;
$mds-color-neutral-65: #BEBEBE;
$mds-color-neutral-80: #CCCCCC;
$mds-color-neutral-90: #DDDDDD;
$mds-color-neutral-95: #EAEAEA;
$mds-color-neutral-96: #F2F2F2;
$mds-color-neutral-97: #F9F9F9;
$mds-color-blue: #006098;
$mds-color-beige: #EDDF98;
$mds-color-green: #00AF41;
$mds-color-dark-green: #00AF41;
$mds-color-teal: #006C67;
$mds-color-violet: #3B5CAD;
$mds-color-cyan: #00A8E1;
$mds-color-dark-cyan: #0A9EC9;
$mds-color-darker-cyan: #087796;
$mds-color-maroon: #AC0033;
$mds-color-red: #FF0000;
$mds-color-yellow: #DCAA00;
$mds-color-orange: #EF7622;

$mds-font-family-sans-serif: 'Univers', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
