.esds-doc-page-navigation {
    @include esds-doc-font-reset;
}

.esds-doc-page-navigation__inner {
    list-style: none;
    margin: 0;
    padding: 0;
}

.esds-doc-page-navigation__link {
    color: $esds-doc-text-color-link;
}
