$mds-size-masthead-logo-width-narrow: 230px;
$mds-size-masthead-logo-width: 275px;

// Bit of resetting here
html,
body {
    margin: 0;
    padding: 0;
}

.mds-doc__title-link {
    align-items: center;
    color: $mds-color-red-50;
    display: flex;
    font-family: $mds-font-family-sans-serif;
    font-weight: $mds-font-weight-thin;
    justify-content: center;
    text-decoration: none;
}

.mds-doc__title {
    margin: 0 auto;
}

.mds-doc__logo {
    flex: 0 0 $mds-size-masthead-logo-width-narrow;
    width: $mds-size-masthead-logo-width-narrow;

    @media screen and (min-width: 480px) {
        flex: 0 0 $mds-size-masthead-logo-width;
        width: $mds-size-masthead-logo-width;        
    }
}

.mds-doc__header {
    align-items: center;
    background: $mds-background-color-default;
    box-shadow: $mds-drop-shadow-default;
    display: flex;
    height: $mds-doc-header-height;
    justify-content: flex-start;
    // margin: $mds-space-inline-left-xs;
    padding: $mds-space-inset-m;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $mds-z-index-sticky;
}

.mds-doc-footer {
    font-weight: $mds-font-weight-light;
}

.mds-doc__content-nav-wrap {
    padding-top: $mds-doc-header-height;
}

.mds-doc__content {
    font-family: $mds-font-family-sans-serif;

    @media screen and (min-width: 768px) {
        margin-left: $mds-doc-nav-width;
        width: calc(100% - $mds-doc-nav-width);
    }
}

.mds-doc__content-inner {
    margin: 0 auto;
    max-width: $mds-doc-content-max-width;
    padding: $mds-space-inset-m; 

    @media screen and (min-width: 768px) {
        padding: $mds-space-inset-m;
    }   

    @media screen and (min-width: 1024px) {
        padding-top: $mds-space-l;
    }   
}
