$theme-size-masthead-logo-width-narrow: 230px;
$theme-size-masthead-logo-width: 275px;

// Bit of resetting here
html,
body {
    margin: 0;
    padding: 0;
}

.#{$theme}-doc__title-link {
    align-items: center;
    color: $theme-color-red-50;
    display: flex;
    font-family: $theme-font-family-sans-serif;
    font-weight: $theme-font-weight-thin;
    justify-content: center;
    text-decoration: none;
}

.#{$theme}-doc__title {
    margin: 0 auto;
}

.#{$theme}-doc__logo {
    flex: 0 0 $theme-size-masthead-logo-width-narrow;
    width: $theme-size-masthead-logo-width-narrow;

    @media screen and (min-width: 480px) {
        flex: 0 0 $theme-size-masthead-logo-width;
        width: $theme-size-masthead-logo-width;        
    }
}

.#{$theme}-doc__header {
    align-items: center;
    background: $theme-background-color-default;
    box-shadow: $theme-drop-shadow-default;
    display: flex;
    height: $theme-doc-header-height;
    justify-content: flex-start;
    // margin: $theme-space-inline-left-xs;
    padding: $theme-space-inset-m;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $theme-z-index-sticky;
}

.#{$theme}-doc-footer {
    font-weight: $theme-font-weight-light;
}

.#{$theme}-doc__content-nav-wrap {
    padding-top: $theme-doc-header-height;
}

.#{$theme}-doc__content {
    font-family: $theme-font-family-sans-serif;

    @media screen and (min-width: 768px) {
        margin-left: $theme-doc-nav-width;
        width: calc(100% - $theme-doc-nav-width);
    }
}

.#{$theme}-doc__content-inner {
    margin: 0 auto;
    max-width: $theme-doc-content-max-width;
    padding: $theme-space-inset-m; 

    @media screen and (min-width: 768px) {
        padding: $theme-space-inset-m;
    }   

    @media screen and (min-width: 1024px) {
        padding-top: $theme-space-l;
    }   
}
