$mds-size-masthead-log-width: 96px;

// Bit of resetting here
html,
body {
    margin: 0;
    padding: 0;
}

.mds-doc__title-link {
    align-items: center;
    color: $mds-color-red-50;
    display: flex;
    font-family: $mds-font-family-sans-serif;
    font-weight: $mds-font-weight-thin;
    justify-content: center;
    text-decoration: none;
}

.mds-doc__title {
    margin: 0 auto;
}

.mds-doc__title-logo {
    display: block;
    fill: $mds-color-red-50;
    flex: 0 0 $mds-size-masthead-log-width;
    margin-right: $mds-space-inline-xs;
    width: $mds-size-masthead-log-width;
}

.mds-doc__header {
    align-items: center;
    background: $mds-background-color-default;
    box-shadow: $mds-drop-shadow-default;
    display: flex;
    height: $mds-doc-header-height;
    justify-content: flex-start;
    padding: $mds-space-inset-m;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $mds-z-index-sticky;
}

.mds-doc__content-nav-wrap {
    padding-top: $mds-doc-header-height;
}

.mds-doc__content {
    font-family: $mds-font-family-sans-serif;

    @media screen and (min-width: 1024px) {
        margin-left: $mds-doc-nav-width;
        width: calc(100% - $mds-doc-nav-width);
    }
}

.mds-doc__content-inner {
    margin: 0 auto;
    max-width: 1024px;
    padding: $mds-space-inset-s; 

    @media screen and (min-width: 768px) {
        padding: $mds-space-inset-m;
    }   
}
