$theme-range-slider-font-family: $theme-font-family-sans-serif;
$theme-range-slider-font-weight: $theme-font-weight-light;

$theme-range-slider-handle-size: 18px;
$theme-range-slider-handle-border-radius: $theme-range-slider-handle-size / 2;
$theme-range-slider-handle-top: -$theme-range-slider-handle-size / 2;
$theme-range-slider-handle-left: -$theme-range-slider-handle-size / 2;

$theme-range-slider-tooltip-background-color: $theme-color-neutral-90;
$theme-range-slider-tooltip-padding: 5px;

$theme-range-slider-target-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
$theme-range-slider-target-background: $theme-color-neutral-50;

// To be handled with Light to Dark mixin 
.#{$theme}-container--dark,
.#{$theme}-container--black {
    [disabled].#{$theme}-range-slider-target {
        opacity:  $theme-opacity-disabled / 2;
    }
}

.#{$theme}-range-slider-target,
.#{$theme}-range-slider-target * {
    -moz-user-select: none;
    -ms-touch-action: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: $theme-range-slider-target-webkit-tap-highlight-color;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    touch-action: none;
    user-select: none;
}

.#{$theme}-range-slider-target {
    background: $theme-range-slider-target-background;
    border: 0;
    direction: ltr;
    position: relative;
}

.#{$theme}-range-slider-base {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.#{$theme}-range-slider-connect {
    background: $theme-interactive-color-primary-default;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background 450ms;
}

.#{$theme}-range-slider-origin {
    height: 0;
    position: absolute;
    width: 0;
}

.#{$theme}-range-slider-state-tap .#{$theme}-range-slider-connect,
.#{$theme}-range-slider-state-tap .#{$theme}-range-slider-origin {
    transition: top .3s, right .3s, bottom .3s, left .3s;
}

.#{$theme}-range-slider-base,
.#{$theme}-range-slider-handle {
    transform: translate3d(0, 0, 0);
}

.#{$theme}-range-slider-horizontal {
    height: 1px;
}

.#{$theme}-range-slider-horizontal .#{$theme}-range-slider-handle {
    border-radius: $theme-range-slider-handle-border-radius;
    height: $theme-range-slider-handle-size;
    left: $theme-range-slider-handle-left;
    top: $theme-range-slider-handle-top;
    width: $theme-range-slider-handle-size;
}

.#{$theme}-range-slider-draggable {
    cursor: ew-resize;
}

.#{$theme}-range-slider-handle {
    background: $theme-color-white;
    border: $theme-border-control-default;
    border-radius: $theme-border-radius-default;
    cursor: grab;
    position: relative;
    z-index: 1;

    &:hover {
        border-color: $theme-interactive-color-primary-default;
    }
}

[disabled] .#{$theme}-range-slider-connect {
    background: $theme-range-slider-target-background;
}

[disabled].#{$theme}-range-slider-target {
    cursor: not-allowed;
    opacity: $theme-opacity-disabled;
}

[disabled].#{$theme}-range-slider-handle,
[disabled] .#{$theme}-range-slider-handle {
    cursor: not-allowed;

    &:hover {
        border: $theme-border-control-default;
    }
}

.#{$theme}-range-slider-value-horizontal {
    transform: translate3d(-50%, 50%, 0);
}

.#{$theme}-range-slider-tooltip {
    background-color: $theme-range-slider-tooltip-background-color;
    border: $theme-border-separator-default;
    border-radius: $theme-border-radius-default;
    color: $theme-text-color-primary-default;
    display: block;
    font-family: $theme-range-slider-font-family;
    font-weight: $theme-range-slider-font-weight;
    padding: $theme-range-slider-tooltip-padding;
    position: absolute;
    text-align: center;
}

.#{$theme}-range-slider-horizontal .#{$theme}-range-slider-tooltip {
    bottom: 120%;
    left: 50%;
    transform: translate(-50%, 0);
}

.#{$theme}-range-slider--hidden {
    opacity: 0;
    visibility: hidden;
}

