{% extends 'doc_templates/default.doc.template.njk' %}
{% set title = 'Icons' %}

{% block doc_body %}
    {% filter markdown %}
    # Icons
    This is a proof of concept for the dev environment. Actual icons are placeholders.
    {% endfilter %}
    
    {% for icon in icons %}
        <div style="display:inline-block; text-align:center; margin: 10px; width: 100px; height: 100px;">
            {{ library.icon(name=icon) }}<br/>
            <label>{{ icon }}</label>
        </div>
    {% endfor %}
{% endblock %}
