{% extends 'doc_templates/default.doc.template.njk' %}

{% block doc_body %}
    <h1>{{ project.name | capitalize }} Icons</h1>
    <p>
        This is a proof of concept for the dev environment. Actual icons are placeholders.
    </p>
    {% for icon in icons %}
        <div style="display:inline-block; text-align:center; margin: 10px; width: 100px; height: 100px;">
            {{ mds.icon(name=icon) }}<br/>
            <label>{{ icon }}</label>
        </div>
    {% endfor %}
{% endblock %}
