.mds-doc-reference-table {
    margin: $mds-space-stack-xl;
    overflow-x: auto;

    code {
        font-family: $mds-font-family-monospace;
        font-size: $mds-font-size-s;
        white-space: nowrap;
    }

    p {
        margin: 0;
    }
}
