.#{$theme}-doc-reference-table {
    margin: $theme-space-stack-xl;
    overflow-x: auto;

    code {
        font-family: $theme-font-family-monospace;
        font-size: $theme-font-size-s;
        white-space: nowrap;
    }

    p {
        margin: 0;
    }
}
