$mds-color-white: #ffffff;
$mds-color-black: #000000;
$mds-color-neutral-12: #1e1e1e;
$mds-color-neutral-20: #333333;
$mds-color-neutral-37: #5e5e5e;
$mds-color-neutral-50: #808080;
$mds-color-neutral-67: #ababab;
$mds-color-neutral-80: #cccccc;
$mds-color-neutral-90: #e5e5e5;
$mds-color-neutral-95: #f2f2f2;
$mds-color-blue-38: #1f55a5;
$mds-color-green-34: #00af41;
$mds-color-teal-19: #005f5f;
$mds-color-violet-46: #6a4c9e;
$mds-color-cyan-39: #087796;
$mds-color-cyan-41: #0a9ec9;
$mds-color-cyan-44: #00a8e1;
$mds-color-maroon-32: #a50032;
$mds-color-red-50: #ff0000;
$mds-color-yellow-48: #f5c400;
$mds-color-orange-54: #ef7622;

$mds-background-color-default: #ffffff;
$mds-background-color-light: #f2f2f2;
$mds-background-color-dark: #1e1e1e;
$mds-background-color-black: #000000;
$mds-background-color-alternative-row-default: #e5e5e5;
$mds-background-color-alternative-row-on-light: #e5e5e5;
$mds-background-color-alternative-row-on-dark: #333333;

$mds-text-color-primary-default: #1e1e1e;
$mds-text-color-primary-on-light: #1e1e1e;
$mds-text-color-primary-on-dark: #ffffff;
$mds-text-color-secondary-default: #5e5e5e;
$mds-text-color-secondary-on-light: #5e5e5e;
$mds-text-color-secondary-on-dark: #ababab;
$mds-text-color-link-default: #087796;
$mds-text-color-link-on-light: #087796;
$mds-text-color-link-on-dark: #00a8e1;

$mds-interactive-color-primary-default: #00a8e1;
$mds-interactive-color-primary-hover: #0a9ec9;
$mds-interactive-color-primary-hover-darker: #087796;
$mds-interactive-color-primary-active: #087796;
$mds-interactive-color-secondary-primary: transparent;
$mds-interactive-color-secondary-hover: #5e5e5e;
$mds-interactive-color-secondary-active-on-light: #333333;
$mds-interactive-color-secondary-active-on-dark: #e5e5e5;
$mds-interactive-color-disabled-on-light: #808080;
$mds-interactive-color-disabled-on-dark: #ababab;
$mds-interactive-color-focus: 0 0 4px 2px rgba(#00a8e1, .8);

$mds-font-family-sans-serif: 'Univers', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mds-font-family-monospace: 'Consolas', 'Courier New', Courier, monospace;
$mds-font-weight-thin: 200;
$mds-font-weight-light: 300;
$mds-font-weight-regular: 400;
$mds-font-weight-bold: 600;
$mds-font-size-base: 16px;
$mds-font-size-default: 16px;
$mds-font-size-xxs: 10px;
$mds-font-size-xs: 12px;
$mds-font-size-s: 14px;
$mds-font-size-m: 16px;
$mds-font-size-l: 20px;

$mds-border-separator-default: solid 1px #cccccc;
$mds-border-separator-on-light: solid 1px #cccccc;
$mds-border-separator-on-dark: solid 1px #333333;
$mds-border-separator-color-on-light: #cccccc;
$mds-border-separator-color-on-dark: #333333;
$mds-border-control-default: solid 1px #808080;
$mds-border-control-color: #808080;
$mds-border-disabled: solid 1px #808080;
$mds-border-radius-default: 2px;

$mds-size-icon-xs: 14px;
$mds-size-icon-s: 16px;
$mds-size-icon-m: 18px;
$mds-size-icon-l: 32px;

$mds-space-default: 16px;
$mds-space-xs: 4px;
$mds-space-s: 8px;
$mds-space-m: 16px;
$mds-space-l: 32px;
$mds-space-xl: 48px;
$mds-space-inset-xs: 4px;
$mds-space-inset-s: 8px;
$mds-space-inset-m: 16px 16px 16px 16px;
$mds-space-inset-l: 32px 32px 32px 32px;
$mds-space-inset-xl: 48px 48px 48px 48px;
$mds-space-inset-squish-m: 4px 16px 4px 16px;
$mds-space-inset-squish-s: 2px 16px 2px 16px;
$mds-space-inline-left-xs: 0 0 0 4px;
$mds-space-inline-left-s: 0 0 0 8px;
$mds-space-inline-left-m: 0 0 0 16px;
$mds-space-inline-left-l: 0 0 0 32px;
$mds-space-inline-left-xl: 0 0 0 48px;
$mds-space-stack-s: 0 0 8px 0;
$mds-space-stack-m: 0 0 16px 0;
$mds-space-stack-l: 0 0 32px 0;
$mds-space-stack-xl: 0 0 48px 0;

$mds-transition-color-link: color, 300ms;

$mds-opacity-disabled: .4;

$mds-drop-shadow-default: 0 2px 4px 0 rgba(0, 0, 0, .08);

$mds-z-index-low: 1;
$mds-z-index-sticky: 100;
$mds-z-index-modal-overlay: 800;
$mds-z-index-modal-content: 810;
$mds-z-index-top-of-the-world: 900;
$theme: mds;