@use '@eightshapes/esds-visual-style/src/esds-visual-style' as *;
@use '@eightshapes/esds-rendered-example/src/esds-rendered-example' as *;
$esds-custom-element-namespace: 'CUSTOM-ELEMENT-NAMESPACE' !default;

$esds-example-code-pair-space-stack: $esds-space-stack-1-x !default;

.#{$esds-custom-element-namespace}-example-code-pair {
  border-radius: $esds-rendered-example-border-radius;
  margin: $esds-example-code-pair-space-stack;

  > s-slot {
    display: block;
    display: contents; // sass-lint:disable-line no-duplicate-properties

    > s-assigned-wrapper,
    > s-fallback-wrapper {
      display: block;
      display: contents; // sass-lint:disable-line no-duplicate-properties

      &[hidden] {
        display: none;
      }
    }
  }

  .esds-code-snippet {
    border: 0;
    border-radius: 0 0 $esds-rendered-example-border-radius $esds-rendered-example-border-radius;
    margin: 0;
  }

  .esds-rendered-example {
    border-bottom: 0;
    margin-bottom: 0;
  }

  &.esds-example-code-pair--hidden-code {
    .esds-rendered-example {
      border-bottom: $esds-rendered-example-border;
    }

    .esds-code-snippet {
      display: none;
    }
  }

  .esds-example-code-pair__footer {
    @include esds-typography-reset;
    display: flex;
    transform: translateY(calc(-100% - 8px));
  }

  &.esds-example-code-pair--hidden-code .esds-example-code-pair__footer {
    transform: translateY(0);
  }

  .esds-example-code-pair__code-toggle {
    @include esds-typography-reset;
    .esds-button {
      color: $esds-color-text-primary-on-light;
    }
  }

  .esds-example-code-pair__footer-links {
    @include esds-typography-reset;
    margin-left: auto;
    padding-right: 115px; // HACKY - Remove later
  }
}
