{% macro tint_stack(
            class,
            swatches=[],
            show_documentation=false,
            token_node=false,
            token_code_prefix=false,
            token_color_role='background') %}
    <div class="esds-doc-tint-stack{{ ' ' + class if class }}">
        {% if (swatches.length == 0 or show_documentation) and token_node == false %}
            {# If no swatches are passed in or the show_documentation variable is set to true, show API documentation #}
            <div class="esds-doc-tint-stack__empty-state-documentation">
                {% filter markdown %}
                    ### Tint Stack API
                {% endfilter %}
                {% set tint_stack_api_source %}
                    {% raw %}
                    {{ esds_doc.tint_stack(
                        class='my-class',                                           // Space-separated classes passed as a string, will be added to the top-level block of the component
                        show_documentation: true | false (default)                  // Show this API documentation
                        swatches=[
                            {
                                hex: '#123456' (required),                          // Any hex color
                                label: 'Name of this color',                        // Label for the color, if none provided the hex value will be used,
                                label_color: '#123456' | 'automatic',               // Override the text color of the label with a hex code, or, if 'automatic' is passed in, the highest contrast of #000000 or #FFFFFF against the background color will be used
                                accessibility_score: 'AAA' | undefined | false,     // Shown as a pill on the tint swatch, if not provided this will be calculated automatically, if false, no pill will be shown
                                code_snippet: '$name-of-color-token',               // Shown as a code block pill if provided
                                code_snippets: ['$name-of-color-token',
                                                'solid 1px #123456'],               // Array of code blocks, each shown as a pill
                                contrast_test_color: undefined | '#123456',         // If not provided, 'hex' will be tested against both #000000 and #FFFFFF and the highest contrast ratio will be used to calculate 'accessibility_score', if provided, this will be tested against 'hex' to determine the 'accessibility_score'
                                color_role: 'foreground' | 'background',            // determines if 'hex' is the background color of the swatch ('background') or the text color of the swatch ('foreground'). 'contrast_test_color' will be used opposite the 'color_role' setting, either as background color or text color
                                html_example: '<span class="anything"></span>',     // renders int he swatch after the label, useful for showing html-based examples like border colors
                                show_border: true | false (default),                // If true, the tint swatch will have a border drawn around it. Useful if the background of the swatch is the same color as the page background
                                show_hex: true (default) | false,                   // If true, suppresses the 'hex' pill in the swatch, 'hex' pill is automatically suppressed when no 'label' is provided
                                show_contrast_ratio: true | false (default)         // If true, renders the calculated contrast ratio inside the 'accessibility_score' pill, alongside the accessibility score
                            }
                        ]
                     )}}

                     {# alternatively, the tint_stack can be invoked with just an array of hex codes #}
                     {# This syntax will cause the hex codes to be used as labels and automatically calculate the accessibility score #}

                     {{ esds_doc.tint_stack(swatches=['#123456', '#7890AB', '#CDEF01']) }}

                    {% endraw %}
                {% endset %}
                {{ code_snippet(class='esds-doc-code-snippet--no-max-height', source=tint_stack_api_source, preformatted=true, language='njk') }}
            </div>
        {% elif token_node %}
          {# {{ token_node }} #}
          {% set node_keys = token_node | split('.') %}

          {# {% set context = '' | getcontext %} #}
          {% set parent_node = '' | getcontext %}
          {% for key in node_keys %}
            {% set parent_node = parent_node[key] %}
          {% endfor %}

          {% set code_prefix = node_keys | join('-') | replace(node_keys | first + '-', token_code_prefix)%}
          {% set label_prefix = node_keys | last %}
          {{ recursive_token_tint_stacks(parent_node, label_prefix, code_prefix, token_color_role) }}
        {% else %}
            {% for swatch in swatches %}
                {% if swatch[0] %}
                    {# Swatch values are just a string, render basic swatch #}
                    {{ tint_stack_swatch(hex=swatch) }}
                {% else %}
                    {{ tint_stack_swatch(class=swatch.class,
                                            hex=swatch.hex,
                                            label=swatch.label,
                                            label_color=swatch.label_color,
                                            accessibility_score=swatch.accessibility_score,
                                            code_snippet=swatch.code_snippet,
                                            code_snippets=swatch.code_snippets,
                                            contrast_test_color=swatch.contrast_test_color,
                                            color_role=swatch.color_role,
                                            html_example=swatch.html_example,
                                            show_border=swatch.show_border,
                                            show_hex=swatch.show_hex,
                                            show_contrast_ratio=swatch.show_contrast_ratio) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro recursive_token_tint_stacks(parent_node, label_prefix, code_prefix, token_color_role) %}
  {% for key, value in parent_node %}
    {% if value | isstring %}
      {% set label = (label_prefix + '-' + key) | replace('-', ' ') | title %}
      {{ tint_stack_swatch(
          hex=value,
          label=label,
          code_snippet=code_prefix + '-' + key,
          color_role=token_color_role
        ) }}
    {% else %}
      {% set label_prefix = label_prefix + '-' + key %}
      {% set code_prefix = code_prefix + '-' + key %}
      {{ recursive_token_tint_stacks(value, label_prefix, code_prefix, token_color_role) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro tint_stack_swatch(class,
                            hex,
                            label,
                            label_color,
                            accessibility_score,
                            code_snippet,
                            code_snippets,
                            contrast_test_color,
                            color_role,
                            html_example,
                            show_border,
                            show_hex,
                            show_contrast_ratio) %}
    {% set show_hex = show_hex | default(true) %}
    {% set label = label | default(hex) %}
    {% set color_role = color_role | default('background') %}
    {% set swatch_container_class = false %}


    {# If no contrast_test_color is provided, check the contrast against white and the contrast against black, #}
    {# Use whichever color has a higher contrast ratio for the accessibility_score and alternate color #}
    {% if not contrast_test_color %}
        {% set white_contrast = hex | getContrastRatioForHex("#FFFFFF") %}
        {% set black_contrast = hex | getContrastRatioForHex("#000000") %}
        {% if white_contrast > black_contrast %}
            {% set contrast_test_color = "#FFFFFF" %}
            {% if color_role == 'background' %}
                {# The background is a dark color, any label should by default use white against it #}
                {% set swatch_container_class = "esds-doc-tint-stack__swatch--dark" %}
            {% endif %}
        {% else %}
            {% set contrast_test_color = "#000000" %}
            {% if color_role == 'foreground' %}
                {# The test background is a dark color, any label should by default use white against it #}
                {% set swatch_container_class = "esds-doc-tint-stack__swatch--dark" %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% if color_role == 'foreground' %}
        {% set foreground_color = hex %}
        {% set background_color = contrast_test_color %}
    {% else %}
        {% set foreground_color = contrast_test_color %}
        {% set background_color = hex %}
    {% endif %}

    {% if accessibility_score != false %}
        {% set contrast_ratio = foreground_color | getContrastRatioForHex(background_color) %}
        {% set accessibility_score = contrast_ratio %}
        {% set accessibility_score_label = "DNP" %}
        {% if contrast_ratio >= 7.0 %}
            {% set accessibility_score_label = "AAA" %}
        {% elif contrast_ratio >= 4.5 %}
            {% set accessibility_score_label = "AA" %}
        {% elif contrast_ratio >= 3.0 %}
            {% set accessibility_score_label = "AA18" %}
        {% endif %}
    {% endif %}

    {% set label_color = label_color | default(foreground_color) %}

    <div class="esds-doc-tint-stack__swatch{{ ' ' + swatch_container_class if swatch_container_class }}{{ ' ' + class if class }}{{ ' esds-doc-tint-stack__swatch--with-border' if show_border }}" style="background-color: {{ background_color }}; color: {{ foreground_color }};">
        <span class="esds-doc-tint-stack__label" style="color: {{ label_color }}">
            {{ label | safe }}
        </span>
        {% if html_example %}
            <span class="esds-doc-tint-stack__html-example">
                {{ html_example | safe }}
            </span>
        {% endif %}
    <span class="esds-doc-tint-stack__swatch-metadata" style="color: {{ label_color }}">
            {% if code_snippet %}
                <span class="esds-doc-tint-stack__pill esds-doc-tint-stack__pill--code-snippet">
                    {{- code_snippet | safe -}}
                </span>
            {% endif %}
            {% if code_snippets %}
                {% for snippet in code_snippets %}
                    <span class="esds-doc-tint-stack__pill esds-doc-tint-stack__pill--code-snippet">
                        {{- snippet | safe -}}
                    </span>
                {% endfor %}
            {% endif %}
            {% if show_hex and hex != label %}
                <span class="esds-doc-tint-stack__pill esds-doc-tint-stack__pill--hex">
                    {{- hex | safe -}}
                </span>
            {% endif %}
            {% if accessibility_score %}

                {% set accessibility_score_class = 'esds-doc-tint-stack__pill--accessibility-score-' + accessibility_score_label | lower %}
                <span class="esds-doc-tint-stack__pill esds-doc-tint-stack__pill--accessibility-score {{ accessibility_score_class }}">
                    {{- accessibility_score_label -}}
                    {{- ', ' + contrast_ratio if show_contrast_ratio -}}
                </span>
            {% endif %}
        </span>
    </div>
{% endmacro %}
