{% extends 'doc_templates/default.doc.template.njk' %}
{% block doc_body %}
    {% filter markdown %}
        #Morningstar Design System 
        ###v{{ project.version }}
        
        ## Component Sinks
        * [Buttons Sink](component-sinks/buttons.html)
        * [Data Tables Sink](component-sinks/data-tables.html)
        * [Forms Sink](component-sinks/forms.html)
        * [List Groups Sink](component-sinks/list-group.html)
        * [Pagination Sink](component-sinks/pagination.html)
        * [Switches Sink](component-sinks/switches.html)
    {% endfilter %}
    
{% endblock %}
