// mds-text-crop mixin
// Use to eliminate "extra" white space added by text nodes in the DOM. This will crop the top of the text to the Cap height and the bottom of the text to the baseline
// Use to align text with non text elements (images, icons, etc.) or to eliminate "non-system" space within an element
$mds-transition-hover: background 300ms, color 300ms, border-color 300ms, fill 300ms; // Need to make this a constant, it's a reapeat form button.scss

@mixin mds-text-crop($line-height: 1.25) {
    $offset-top: max((14 + ($line-height - 1.2) * (64 / 2)), 0) / 64;
    $offset-bottom: max((15.5 + ($line-height - 1.2) * (64 / 2)), 0) / 64;

    line-height: $line-height;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: -#{$offset-top}em;
    }

    &::after {
        margin-top: -#{$offset-bottom}em;
    }
}

.mds-text-crop--default {
    @include mds-text-crop();
}

.mds-text-crop--1-1 {
    @include mds-text-crop(1.1);
}

@mixin mds-link() {
    color: $mds-interactive-color-primary-default;
    transition: $mds-transition-hover;

    &:hover {
        color: $mds-interactive-color-primary-hover;
    }
}

@mixin level-1-heading() {
    @include mds-text-crop();
    font-size: $mds-font-size-default * 3.5;
    font-weight: $mds-font-weight-thin;
}

@mixin level-2-heading() {
    @include mds-text-crop();
    font-size: $mds-font-size-default * 2.5;
    font-weight: $mds-font-weight-thin;
}

@mixin level-3-heading() {
    @include mds-text-crop();
    font-size: $mds-font-size-default * 1.5;
    font-weight: $mds-font-weight-thin;
}

@mixin level-4-heading() {
    @include mds-text-crop();
    font-size: $mds-font-size-default * 1.125;
    font-weight: $mds-font-weight-thin;
}

@mixin eyebrow-heading() {
    color: $mds-text-color-primary-default;
    font-family: $mds-font-family-sans-serif;
    font-size: $mds-font-size-xxs;
    font-weight: $mds-font-weight-bold;
    letter-spacing: 1.67px;
    text-transform: uppercase;

    .mds-container--black &,
    .mds-container--dark & {
        color: $mds-text-color-primary-on-dark;
    }
}
