// theme-text-crop mixin
// Use to eliminate "extra" white space added by text nodes in the DOM. This will crop the top of the text to the Cap height and the bottom of the text to the baseline
// Use to align text with non text elements (images, icons, etc.) or to eliminate "non-system" space within an element
$theme-transition-hover: background 300ms, color 300ms, border-color 300ms, fill 300ms; // Need to make this a constant, it's a reapeat form button.scss

@mixin theme-text-crop($line-height: 1.25) {
    $offset-top: max((14 + ($line-height - 1.2) * (64 / 2)), 0) / 64;
    $offset-bottom: max((15.5 + ($line-height - 1.2) * (64 / 2)), 0) / 64;

    line-height: $line-height;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: -#{$offset-top}em;
    }

    &::after {
        margin-top: -#{$offset-bottom}em;
    }
}

.#{$theme}-text-crop--default {
    @include theme-text-crop();
}

.#{$theme}-text-crop--1-1 {
    @include theme-text-crop(1.1);
}

.#{$theme}-text__anchor {
    color: $theme-interactive-color-primary-default;
    fill: $theme-interactive-color-primary-default;
    transition: $theme-transition-hover;

    &:hover {
        color: $theme-interactive-color-primary-hover;
        fill: $theme-interactive-color-primary-hover;

        .#{$theme}-icon {
            fill: $theme-interactive-color-primary-hover;
        }
    }
}

.#{$theme}-text__anchor--with-icon {
    text-decoration: none;

    .#{$theme}-text__anchor-text {
        text-decoration: underline;
        vertical-align: middle;
    }

    .#{$theme}-text__anchor-icon {
        fill: $theme-interactive-color-primary-default;
        transition: $theme-transition-hover;
        vertical-align: middle;
    }
}

@mixin level-1-heading() {
    @include theme-text-crop();
    font-size: 45px;
    font-weight: $theme-font-weight-thin;
}

@mixin level-2-heading() {
    @include theme-text-crop();
    font-size: 32px;
    font-weight: $theme-font-weight-bold;
}

@mixin level-3-heading() {
    @include theme-text-crop();
    font-size: 28px;
    font-weight: $theme-font-weight-thin;
}

@mixin level-4-heading() {
    @include theme-text-crop();
    font-size: $theme-font-size-default * 1.125;
    font-weight: $theme-font-weight-bold;
}

@mixin eyebrow-heading() {
    color: $theme-text-color-primary-default;
    font-family: $theme-font-family-sans-serif;
    font-size: $theme-font-size-xxs;
    font-weight: $theme-font-weight-bold;
    letter-spacing: 1.67px;
    text-transform: uppercase;

    .#{$theme}-container--black &,
    .#{$theme}-container--dark & {
        color: $theme-text-color-primary-on-dark;
    }
}

.#{$theme}-container--dark, 
.#{$theme}-container--black {
    color: $theme-text-color-primary-on-dark;

    .#{$theme}-icon {
        fill: $theme-text-color-primary-on-dark;
    }

    .#{$theme}-text__anchor-icon {
        fill: $theme-interactive-color-primary-default;
    }
}
