{% block project_macro_imports %}
    {% import "doc_library/components/mds_doc_library_macros.njk" as doc_library with context %}
{% endblock %}

{% extends 'doc_templates/default.template.njk' %}

{% block head_assets %}
    {# Include doc_library.css and doc.css here - will be loaded after library styles #}
    <link rel="stylesheet" href="/assets/doc-dependencies/prism.css">
    <link rel="stylesheet" href="/assets/styles/mds_doc_library.css">
    <link rel="stylesheet" href="/assets/styles/mds_doc.css">
{% endblock %}

{% block body %}
    <input class="mds-doc__off-canvas-toggle-input" id="mds-doc__off-canvas-toggle" type="checkbox">
    <header class="mds-doc__header">
        <label for="mds-doc__off-canvas-toggle" class="mds-doc__off-canvas-toggle-label">
            <span class="mds-screenreader-only">Menu</span>
            {{ library.icon(class="mds-doc__off-canvas-toggle-icon", name="menu")}}
        </label>
        <h2 class="mds-doc__title">
            <a class="mds-doc__title-link" href="/">
                {{ library.icon(class="mds-doc__title-logo", name="morningstar-logo") }} 
                <span class="mds-doc__title-text"><span class="mds-screenreader-only">Morningstar</span> Design System</span>
            </a>
        </h2>
    </header>
    <div class="mds-doc__content-nav-wrap">
        <div class="mds-doc__content">
            <div class="mds-doc__content-inner">
                {% block doc_body_container %}
                    {% block doc_body %}

                    {% endblock %}
                {% endblock %}
                <footer class="mds-doc-footer">
                    {{ content.copyright | safe }}
                </footer>
            </div>
        </div>
        {{ doc_library.site_nav() }}
    </div>
    <label for="mds-doc__off-canvas-toggle" class="mds-doc__off-canvas-overlay"></label>
{% endblock %}

{% block closing_body_assets %}
    {# include doc_library.js here - will be loaded after library scripts #}
    <script src="/assets/doc-dependencies/jquery.min.js"></script>
    <script src="/assets/doc-dependencies/clipboard.min.js"></script>
    <script src="/assets/doc-dependencies/prism.js"></script>
    <script src="/assets/scripts/mds_doc_library.js"></script>
{% endblock %}
