{% block imports %} {# This allows the imports section to be completely overridden by a child template #}
    {% import "library/components/mds_library_macros.njk" as library with context %}
    {% block project_macro_imports %}{% endblock %} {# This block allows project specific macros to be injected, these macros can have access to core library macros and will be made available to doc macros #}
{% endblock %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ project.name | upper }} v{{ project.version}}{{ ' - ' + title if title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/assets/styles/mds_library.css">
    <link rel="stylesheet" href="/assets/styles/mds_library_print.css">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    {% block head_assets %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}

    <script src="/assets/scripts/mds_library.js"></script>
    {% block closing_body_assets %}
    {% endblock %}
</body>
</html>
