{% macro site_nav() %}
    {% set site_nav_data = [
        {
            label: "Home",
            active: true,
            href: "/"
        },
        {
            label: "Visual Language",
            children: [
                {
                    label: "Color",
                    href: "/visual-style/color.html"
                }
            ]
        },
        {
            label: "Components",
            children: [
                {
                    label: "Buttons",
                    href: "/components/buttons.html"
                }
            ]
        },
        {
            label: "About The System",
            children: [
                {
                    label: "Browser Support",
                    href: "/about/browser-support.html"
                },
                {
                    label: "Coding Standards",
                    href: "/about/coding-standards.html"
                },
                {
                    label: "Contributing",
                    href: "/about/contribute.html"
                },
                {
                    label: "Development Process",
                    href: "/about/development-process.html"
                },
                {
                    label: "Segments",
                    href: "/about/segments.html"
                }
            ]
        }
    ] %}
    <nav class="mds-doc-site-nav">
        <label for="mds-doc__off-canvas-toggle" class="mds-doc__off-canvas-close">
            {{ library.icon(class="mds-doc__off-canvas-close-icon", name="remove") }}
            <span class="mds-doc__off-canvas-close-text">Close</span>
        </label>
        {{ library.list_group(class="mds-list-group--small mds-doc-site-nav__list", items=site_nav_data) }}
    </nav>
{% endmacro %}
