{% macro site_nav(site_nav_data = content.site_nav) %}
    <nav class="mds-doc-site-nav">
        <label for="mds-doc__off-canvas-toggle" class="mds-doc__off-canvas-close">
            {{ library.icon(class="mds-doc__off-canvas-close-icon", name="remove") }}
            <span class="mds-doc__off-canvas-close-text">Close</span>
        </label>
        {{ library.list_group(class="mds-list-group--small mds-doc-site-nav__list", items=site_nav_data) }}
    </nav>
{% endmacro %}
