{% import 'components/esds.njk' as esds with context %}
<html>
    <head>
        <link rel="stylesheet" href="/styles/esds.css">
        {% block head_assets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
