{% import 'components/es-doc.njk' as es_doc with context %}
<html>
    <head>
        <link rel="stylesheet" href="/styles/dependencies/prism.css">
        <link rel="stylesheet" href="/styles/es_doc.css">
        <script src="/scripts/dependencies/clipboard.min.js"></script>
        <script src="/scripts/dependencies/prism.js"></script>
        <script src="/scripts/dependencies/prism-json.min.js"></script>
        <script src="/scripts/dependencies/prism-scss.min.js"></script>
        <script src="/scripts/dependencies/prism-twig.min.js"></script>
        <script src="/scripts/es-doc.js"></script>
        {% block head_assets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
