{% extends 'templates/base.njk' %}
{% block head_assets %}
    <style>
        html,
        body {
            background: yellow;
            color: hotpink;
            font-family: Georgia;
            font-size: 48px;
            font-style: italic;
            font-weight: bold;
            line-height: 3;
            margin: 0;
            padding: 0;
        }
    </style>
{% endblock %}
{% block body %}
    Sink template testing
{% endblock %}
