{% extends 'templates/base.njk' %}
{% block head_assets %}
    <style>
        html,
        body {
            color: darkorange;
            font-family: Georgia;
            font-size: 43px;
            font-style: italic;
            font-weight: bold;
            letter-spacing: 0.5em;
            line-height: 3.2;
            margin: 0;
            padding: 0;
            text-align: center;
            text-indent: 103px;
            text-transform: uppercase;
            text-shadow: 0 2px 1px red;
        }

        .esds-doc-sink-page-header {
            background: transparent;
            color: {{ esds_doc_tokens['text-color'].default }};
            font-family: {{ esds_doc_tokens.font.family['sans-serif'] | safe }};
            font-size: 20px;
            font-style: normal;
            font-weight: normal;
            letter-spacing: 0;
            line-height: 1.2;
            text-align: left;
            text-indent: 0;
            text-transform: none;
            margin: 32px 0 16px 0;
            padding: 0;
            text-shadow: none;
        }
    </style>
{% endblock %}
{% block body %}
    Sink template testing
{% endblock %}
