.#{$theme}-doc-page-nav__appended-items {
    .#{$theme}-list-group__item {
        border: 0;
    }

    .#{$theme}-list-group__link {
        @include theme-text-crop();
        color: $theme-text-color-secondary-default;
        padding: $theme-space-stack-s;
        text-decoration: underline;
    }
}
