{% macro page_nav(class=false, target="body", page_header_class=theme + "-doc-page-nav__page-header", appended_items=[
    {
        href: '#',
        label: 'View on Bitbucket'
    },
    {
        href: '#',
        label: 'Report a Bug'
    },
    {
        href: '#',
        label: 'Request Enhancement'
    },
    {
        href: '#',
        label: 'Get Help'
    }
]) %}
    <div class="{{ theme }}-doc-page-nav{{ ' ' + class if class }}" data-target="{{ target }}" {% if page_header_class %} data-page-header-class="{{ page_header_class }}" {% endif %}>
        <div class="{{ theme }}-doc-page-nav__list-groups-wrap">
            {{ library.list_group(
                class=theme + "-doc-page-nav__list-group-template " + theme + "-list-group--small",
                items=[
                    {
                        class: theme + '-doc-page-nav__header-template',
                        label: 'Header Template'
                    },
                    {
                        class: theme + '-doc-page-nav__link-template',
                        label: 'Link Template',
                        href: '#'
                    }
                ]
            ) }}
        </div>
        {% if appended_items %}
            {{ library.list_group(class=theme + "-doc-page-nav__appended-items " + theme + "-list-group--small", items=appended_items) }}
        {% endif %}
    </div>
{% endmacro %}
