@import '../node_modules/esds-visual-style/tokens/tokens';
@import '../node_modules/esds-visual-style/styles/shared/color';
@import '../node_modules/esds-visual-style/styles/shared/typography';
@import '../node_modules/esds-visual-style/styles/shared/util';

$esds-tint-swatch-font-family: $esds-font-family-sans-serif !default;
$esds-tint-swatch-space-swatch-inset: $esds-space-inset-1-x !default;

$esds-tint-swatch-swatch-border: $esds-border-default !default;

$esds-tint-swatch-pill-background-color: $esds-background-color-light !default;
$esds-tint-swatch-pill-border-radius: $esds-border-radius-default !default;
$esds-tint-swatch-font-family-monospace: 'Courier New', monospace !default;
$esds-tint-swatch-pill-font-size: $esds-font-size-body-m-default !default;
$esds-tint-swatch-pill-text-align: center !default;
$esds-tint-swatch-pill-text-color: $esds-text-color-primary-on-light !default;
$esds-tint-swatch-pill-space-inset: $esds-space-inset-quarter-x !default;
$esds-tint-swatch-pill-space-between: $esds-space-generic-1-x !default;
$esds-tint-swatch-pill-min-width: 4em !default;

$esds-tint-swatch-html-example-space-inline: $esds-space-generic-1-x !default;

$esds-tint-swatch-label-max-width: none !default;

$esds-tint-swatch-aa18-pill-background-color: #CFB317 !default;
$esds-tint-swatch-aa18-pill-text-color: $esds-text-color-primary-on-white !default;

$esds-tint-swatch-dnp-pill-background-color: #EE0000 !default;
$esds-tint-swatch-dnp-pill-text-color: $esds-text-color-primary-on-black !default;


// .esds-tint-stack {
//     @include esds-doc-box-sizing;
//     @include esds-doc-font-reset(
//         $font-family: $esds-tint-swatch-font-family);
// }
//
// .esds-tint-stack__empty-state-documentation {
//     @include esds-doc-font-reset;
//     color: $esds-text-color-primary-on-white;
// }

.esds-tint-swatch {
  @include esds-box-sizing;
  @include esds-font-reset($font-family: $esds-tint-swatch-font-family);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $esds-tint-swatch-space-swatch-inset;
}

.esds-tint-swatch--bordered {
  border: $esds-tint-swatch-swatch-border;
}

// .esds-tint-stack__pill {
//   background: $esds-tint-swatch-pill-background-color;
//   border-radius: $esds-tint-swatch-pill-border-radius;
//   color: $esds-tint-swatch-pill-text-color;
//   display: inline-block;
//   font-family: $esds-tint-swatch-font-family-monospace;
//   font-size: $esds-tint-swatch-pill-font-size;
//   margin: 0 0 0 $esds-tint-swatch-pill-space-between;
//   min-width: $esds-tint-swatch-pill-min-width;
//   padding: $esds-tint-swatch-pill-space-inset;
//   text-align: $esds-tint-swatch-pill-text-align;
// }
//
// .esds-tint-stack__pill--accessibility-score-aa18 {
//   background-color: $esds-tint-swatch-aa18-pill-background-color;
//   color: $esds-tint-swatch-aa18-pill-text-color;
// }
//
// .esds-tint-stack__pill--accessibility-score-dnp {
//   background-color: $esds-tint-swatch-dnp-pill-background-color;
//   color: $esds-tint-swatch-dnp-pill-text-color;
// }

.esds-tint-swatch__metadata {
  margin-left: auto;
}

.esds-tint-stack__html-example {
  margin: 0 0 0 $esds-tint-swatch-html-example-space-inline;
}

.esds-tint-stack__label {
  max-width: $esds-tint-swatch-label-max-width;
}

.esds-tint-swatch__code-snippet {
  font-family: $esds-tint-swatch-font-family-monospace;
}
