.#{$theme}-doc-example-code-pair {
    .#{$theme}-doc-code-snippet {
        border-radius: 0 0 $theme-border-radius-default $theme-border-radius-default;
        border-top: 0;
    }

    .#{$theme}-doc-html-example-list {
        border-radius: $theme-border-radius-default $theme-border-radius-default 0 0;
    }
}
