{% extends 'templates/base.njk' %}

{% block body %}
    {% filter markdown %}
        # EightShapes Doc Tools
        * [Code Snippet](/sink-pages/components/code-snippets.html)
        * [HTML Example Lists](/sink-pages/components/html-example-lists.html)
        * [Code Example Pairs](/sink-pages/components/code-example-pairs.html)
        * [Page Navigation](/sink-pages/components/page-navigation.html)
    {% endfilter %}
{% endblock %}
