{% set title = 'Segments' %}
{% extends 'doc_templates/default.doc.template.njk' %}

{% block doc_body %}
    {% filter markdown %}

# Segments

MDS employs the concept of segments for areas of design, development, and systems practice that require specialized participation and contribution from a subset of community members.

## Current Segments

The current segments, and their owners, are:

<table class="mds-data-table">
    <thead>
        <tr class="mds-data-table__row">
            <th class="mds-data-table__header-cell"><div class="mds-data-table__header-cell-inner">Segment</div></th>
            <th class="mds-data-table__header-cell"><div class="mds-data-table__header-cell-inner">Coordinator</div></th>
        </tr>
    </thead>
    <tbody class="mds-data-table__body">
        <tr class="mds-data-table__row">
            <td class="mds-data-table__cell">Visual Style</td>
            <td class="mds-data-table__cell">Matt Jankowski</td>
        </tr>
        <tr class="mds-data-table__row">
            <td class="mds-data-table__cell">Components</td>
            <td class="mds-data-table__cell">Adam Rowe</td>
        </tr>
        <tr class="mds-data-table__row">
            <td class="mds-data-table__cell">UX Patterns</td>
            <td class="mds-data-table__cell">Irena Svidovsky</td>
        </tr>
        <tr class="mds-data-table__row">
            <td class="mds-data-table__cell">Editorial</td>
            <td class="mds-data-table__cell">Jennifer Mystkowski</td>
        </tr>
        <tr class="mds-data-table__row">
            <td class="mds-data-table__cell">Charting</td>
            <td class="mds-data-table__cell">Katie Wolf</td>
        </tr>
        <tr class="mds-data-table__row">
            <td class="mds-data-table__cell">Accessibility</td>
            <td class="mds-data-table__cell">Caroline Collins</td>
        </tr>
        <tr class="mds-data-table__row">
            <td class="mds-data-table__cell">Iconography</td>
            <td class="mds-data-table__cell">Jonathan Duncan</td>
        </tr>
        <tr class="mds-data-table__row">
            <td class="mds-data-table__cell">Brand</td>
            <td class="mds-data-table__cell">Jason Ackley</td>
        </tr>
        <tr class="mds-data-table__row">
            <td class="mds-data-table__cell">Code Practice</td>
            <td class="mds-data-table__cell">James Colvard</td>
        </tr>
    </tbody>
</table>

## Responsibilities

A segment coordinator is responsible for:

* Cultivating participation and connecting interested contributors around an identified topic
* Establishing a segment objective and achieving key results over time
* Recommending medium- to large-scale system features and enhancements
* Attending design critiques/showcases to identify potential areas of inconsistency or where existing component can solve a product's team's need 
* Analyzing and monitoring existing product development efforts relevant to the segment across both Institutional and Consumer product lines. 
* Setting up and moderating irregular discussions between segment participants from the design and engineering communities.
* Approving contributions of new features in the segment, including those designed, built, and documented by members of the core MDS team

In general, participating in MDS as a segment owner will require two to four hours per week, on average.

    {% endfilter %}
{% endblock %}
